<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.DepartmentDao">

    <!--    查询科室-->
    <select id="queryDepartment" resultType="com.jiubo.sam.bean.DepartmentBean">
        SELECT DEPT_ID, NAME, ISUSE
        FROM DEPARTMENT
        <where>
            <if test="name != null and name != ''">
                AND NAME LIKE '%' + #{name} + '%'
            </if>
            <if test="isuse != null and isuse != ''">
                AND ISUSE = #{isuse}
            </if>
        </where>
    </select>

    <!--    查询科室欠费人数-->
    <select id="queryArrearsByDept" parameterType="com.jiubo.sam.bean.DepartmentBean" resultType="com.jiubo.sam.bean.DepartmentBean">
        SELECT PTOTLE.DEPT_ID,PTOTLE.NAME,
        SUM(CASE WHEN PTOTLE.IS_ARREARSE=-1 THEN 1 ELSE 0 END ) AS ARREASE
        ,SUM(CASE WHEN PTOTLE.IS_ARREARSE=0 THEN 1 ELSE 0 END ) AS PRE_ARREASE
        FROM
        (SELECT PA.PATIENT_ID,PA.DEPT_ID,DEPT.NAME,MIN(PA.IS_ARREARSE) IS_ARREARSE
        FROM
        (SELECT DISTINCT PAYM.PATIENT_ID,PAYM.DEPT_ID
        ,CASE WHEN DATEDIFF(dd,PAYM.ENDTIME,PPM.END_DATE) >0 THEN -1
        WHEN DATEDIFF(dd,PAYM.ENDTIME,PPM.END_DATE)<=0 AND 	DATEDIFF(dd,PAYM.ENDTIME,PPM.END_DATE)>30 THEN 0
        ELSE 1 END IS_ARREARSE
        FROM
        (SELECT PAY.PATIENT_ID,PAY.PAYSERVICE_ID,PAY.DEPT_ID ,MAX(PAY.ENDTIME)ENDTIME
        FROM PAYMENT PAY
        GROUP BY PAY.PATIENT_ID,PAY.PAYSERVICE_ID,PAY.DEPT_ID
        <where> 1=1
            <if test="deptId != null and deptId != ''">
                AND DEPT_ID = #{deptId}
            </if>
        </where>
        ) PAYM
        LEFT JOIN
        (SELECT PATIENT_ID,PAYSERVICE_ID,MAX(ISNULL(END_DATE,convert(varchar, getdate(), 110))) AS END_DATE
        FROM PA_PAYSERVICE
        GROUP BY PATIENT_ID,PAYSERVICE_ID) PPM
        ON PAYM.PATIENT_ID=PPM.PATIENT_ID AND PAYM.PAYSERVICE_ID=PPM.PAYSERVICE_ID
        ) PA
        LEFT JOIN DEPARTMENT DEPT ON DEPT.DEPT_ID=PA.DEPT_ID
        GROUP BY PA.PATIENT_ID,PA.DEPT_ID,DEPT.NAME) PTOTLE
        GROUP BY PTOTLE.DEPT_ID,PTOTLE.NAME
    </select>
</mapper>
