<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.EmployeeDao">
    <sql id="condition">
        <where>
            1=1
            <if test="employeeBean.empName != null and employeeBean.empName != ''">
                and a.emp_name like '%' + #{employeeBean.empName} + '%'
            </if>
            <if test="employeeBean.sex != null and employeeBean.sex != ''">
                and a.sex = #{employeeBean.sex}
            </if>
            <if test="employeeBean.politicalStatus != null and employeeBean.politicalStatus != ''">
                and a.political_status = #{employeeBean.politicalStatus}
            </if>
            <if test="employeeBean.nativePlace != null and employeeBean.nativePlace != ''">
                and a.native_place like '%' + #{employeeBean.nativePlace} + '%'
            </if>
            <if test="employeeBean.major != null and employeeBean.major !=''">
                and a.major like '%' + #{employeeBean.major} + '%'
            </if>
            <if test="employeeBean.education != null and employeeBean.education != ''">
                and a.education = #{employeeBean.education}
            </if>
            <if test="employeeBean.graduate != null and employeeBean.graduate != ''">
                and a.graduate like '%' + #{employeeBean.graduate} + '%'
            </if>
            <if test="employeeBean.posId != null and employeeBean.posId != ''">
                and a.pos_id = #{employeeBean.posId}
            </if>
            <if test="employeeBean.posName != null and employeeBean.posName != ''">
                and d.pos_name = #{employeeBean.posName}
            </if>
            <if test="employeeBean.deptId != null and employeeBean.deptId != ''">
                and b.dept_id = #{employeeBean.deptId}
            </if>
            <if test="employeeBean.roleId != null and employeeBean.roleId != ''">
                and a.role_id = #{employeeBean.roleId}
            </if>
        </where>
    </sql>

    <sql id="Base_Id_List">
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </sql>
    <delete id="delectAll">
        DELETE FROM
        emp_department_ref
        WHERE
        emp_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getEmpByCondition" resultType="com.jiubo.sam.bean.EmployeeBean">
        select DISTINCT a.*,d.pos_name as posName from employee a
        LEFT JOIN emp_department_ref b ON a.id = b.emp_id
        LEFT JOIN position d ON a.pos_id = d.id
        <include refid="condition"/>
    </select>
    <select id="getAllEmp" resultType="com.jiubo.sam.bean.EmployeeBean">
        select * from employee where flag = 1
    </select>

    <select id="getAllPerCode" resultType="com.jiubo.sam.bean.EmployeeBean">
        select id,per_code from employee
    </select>

    <update id="patchEmp">
        UPDATE employee
        SET
        <trim suffixOverrides=",">
            <if test="emp_name != null and emp_name != ''">
                empName = #{emp_name},
            </if>
            create_date = GETDATE(),
            flag = 2
        </trim>
        WHERE per_code = #{perCode}

    </update>

    <insert id="addEmp" parameterType="com.jiubo.sam.bean.EmployeeBean"
            useGeneratedKeys="true" keyProperty="id">
        insert into employee (emp_name,sex,political_status,birthday,
        tel_phone,native_place,major,education,graduate,pos_id,role_id,
        create_date,entry_date,flag)
         values
         (#{empName},#{sex},#{politicalStatus},#{birthday},#{telPhone},#{nativePlace},
         #{major},#{education},#{graduate},#{posId},#{roleId},#{createDate},#{entryDate},#{flag})
    </insert>

    <insert id="addEmpBatch">
        insert into employee (emp_name,create_date,flag)
         values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.empName},GETDATE(),2)
        </foreach>
    </insert>
    
    <insert id="insertAll">
        INSERT INTO emp_department_ref (emp_id, dept_id, create_date )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.empId},#{item.deptId},#{item.createDate})
        </foreach>
    </insert>

    <update id="updateEmpBatch" parameterType="java.util.List">
        update employee
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="emp_name =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.empName != null and i.empName != ''">
                        when per_code=#{i.perCode} then #{i.empName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="flag =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.flag != null">
                        when per_code=#{i.perCode} then #{i.flag}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="i" index="index">
            per_code=#{i.perCode}
        </foreach>
    </update>

    <update id="deleteAllRef">
        TRUNCATE TABLE emp_department_ref
    </update>

    <insert id="addRefBack">
        INSERT INTO emp_department_ref_back (EMP_ID,DEPT_ID,CREATE_DATE) SELECT emp_id,dept_id,GETDATE() FROM emp_department_ref
    </insert>
</mapper>
