<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.LogRecordsDao">
    <select id="queryLogRecords" parameterType="com.jiubo.sam.bean.LogRecordsBean" resultType="com.jiubo.sam.bean.LogRecordsBean">
        SELECT LR.*,SA.NAME FROM LOG_RECORDS LR
        LEFT JOIN SYS_ACCOUNT SA ON SA.SA_ID=LR.OPERATE_ID
        <!--<where>
            <if test="logRecords.operateId > 0">
                AND LR.OPERATE_ID=#{logRecords.operateId}
            </if>
            <if test="logRecords.hospNum != null and logRecords.hospNum != ''">
                AND LR.HOSP_NUM=#{logRecords.hospNum}
            </if>
            <if test="logRecords.operateModule != null and logRecords.operateModule != ''">
                AND LR.OPERATE_MODULE=#{logRecords.operateModule}
            </if>
            <if test="logRecords.begDate != null and logRecords.begDate != '' and logRecords.endDate != null and logRecords.endDate != ''">
                AND LR.CREATE_DATE >= #{logRecords.begDate} AND LR.CREATE_DATE &lt;= #{logRecords.endDate}
            </if>
            <if test="logRecords.operateType != null and logRecords.operateType != ''">
                AND LR.OPERATE_TYPE=#{logRecords.operateType}
            </if>
        </where>-->
        where 1 = 1
        <if test="hospNum != null and hospNum != ''">
            AND LR.HOSP_NUM=#{hospNum}
        </if>
        <if test="operateModule != null ">
            AND LR.OPERATE_MODULE = #{operateModule}
        </if>
        <if test="operateType != null and operateType != ''">
            AND LR.OPERATE_TYPE = #{operateType}
        </if>
        <if test="begDate != null">
            AND LR.CREATE_DATE >= #{begDate}
        </if>
        <if test="endDate != null">
            AND #{endDate} >= LR.CREATE_DATE
        </if>
        ORDER BY CREATE_DATE DESC
    </select>


</mapper>
