<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.MedicalExpensesDao">

    <!--    查询-->
    <select id="queryMedicalExpenses" parameterType="com.jiubo.sam.bean.MedicalExpensesBean"
            resultType="com.jiubo.sam.bean.MedicalExpensesBean">
        SELECT
        DISTINCT ME.ME_ID
        ,IS_IN_HOSPITAL
        ,REMARKS
        ,ME.HOSP_NUM
        ,ME.DEPOSIT_FEE
        ,ME.REAL_FEE
        ,ME.ARREARS_FEE
        ,ME.CREATE_DATE
        ,ME.BEG_DATE
        ,ME.END_DATE
        ,ME.DAYS
        ,ME.ACCOUNT_ID
        ,P.NAME AS PATIENT_NAME
        ,DEPT.NAME AS DEPT_NAME
        ,CASE WHEN IS_IN_HOSPITAL = 1 THEN '在院' ELSE '出院' END isInHospitalLabel
        ,P.PATITYPEID
        ,P2.PATITYPENAME
        ,P.MITYPEID
        ,M.MITYPENAME
        ,SP_TOTAL.MONEY SP_MONEY
        ,P.IN_HOSP
        FROM MEDICAL_EXPENSES ME
        LEFT JOIN PATIENT P ON P.HOSP_NUM = ME.HOSP_NUM
        LEFT JOIN PATIENTTYPE P2 ON P.PATITYPEID = P2.PATITYPEID
        LEFT JOIN MEDICINSURTYPE M ON M.MITYPEID = P.MITYPEID
        LEFT JOIN DEPARTMENT DEPT ON DEPT.DEPT_ID=ME.DEPT_ID
        LEFT JOIN SUPPLEMENTARY_PAYMENT SP ON ME.ME_ID = SP.ME_ID
        LEFT JOIN (
        SELECT ME_ID,SUM(MONEY) MONEY
        FROM SUPPLEMENTARY_PAYMENT
        GROUP BY ME_ID
        ) SP_TOTAL ON ME.ME_ID = SP_TOTAL.ME_ID
        <where>
            <if test="hospNum != null and hospNum != ''">
                AND ME.HOSP_NUM = #{hospNum}
            </if>
            <if test="patientName != null and patientName != ''">
                AND P.NAME LIKE '%' + #{patientName} + '%'
            </if>
            <if test="deptId != null and deptId != ''">
                AND DEPT.DEPT_ID = #{deptId}
            </if>
            <if test="patiTypeId != null and patiTypeId != ''">
                AND P.PATITYPEID = #{patiTypeId}
            </if>
            <if test="endDate != null and endDate != ''">
                AND ME.CREATE_DATE &lt;= #{endDate}
            </if>
            <if test="begCreateDate != null and begCreateDate != ''">
                AND ME.CREATE_DATE >= #{begCreateDate}
            </if>
            <if test="endCreateDate != null and endCreateDate != ''">
                AND ME.CREATE_DATE &lt; #{endCreateDate}
            </if>
            <if test="miTypeId != null and miTypeId != ''">
                AND P.MITYPEID = #{miTypeId}
            </if>
            <if test="spBegDate != null and spBegDate != ''">
                AND SP.CREATE_DATE >= #{spBegDate}
            </if>
            <if test="spEndDate != null and spEndDate != ''">
                AND SP.CREATE_DATE &lt; #{spEndDate}
            </if>
            <if test="inHosp != null and inHosp != ''">
                AND P.IN_HOSP = #{inHosp}
            </if>
        </where>
        ORDER BY ME.CREATE_DATE DESC
    </select>


    <select id="getMedicalDetails" parameterType="com.jiubo.sam.bean.PaymentBean"
            resultType="com.jiubo.sam.bean.PaymentBean">
        SELECT A.PAYMENTTIME,SUM(A.DEPOSIT_FEE) as ACTUALPAYMENT
        FROM
	    ( SELECT CONVERT ( VARCHAR ( 100 ), CREATE_DATE, 23 ) AS PAYMENTTIME, DEPOSIT_FEE FROM MEDICAL_EXPENSES
	    where 1=1
        <if test="hospNum != null and hospNum != ''">
            and HOSP_NUM = #{hospNum}
        </if>
        <if test="paymenttime != null and paymenttime != ''">
            and CONVERT(varchar(4), CREATE_DATE, 121) = #{paymenttime}
        </if>
	    ) A
        GROUP BY
	    A.PAYMENTTIME
    </select>
</mapper>
