<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.PaPayserviceDao">
    <!--查询所有项目-->
    <select id="queryPaPayService" parameterType="com.jiubo.sam.bean.PaPayserviceBean" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        SELECT PAY.*,PP.PP_ID
        ,isnull(PP.IS_USE,0) AS IS_USE
        ,PP.BEG_DATE
        ,CASE when PP.BEG_DATE is not null AND PP.END_DATE IS NULL then DATEDIFF(DAY,PP.BEG_DATE , GETDATE())
        when PP.BEG_DATE is not null AND PP.END_DATE IS NOT NULL then DATEDIFF(DAY,PP.BEG_DATE , PP.END_DATE)
        when PP.BEG_DATE is null AND PP.END_DATE IS NULL then 0 ELSE 0 END AS DAYS
        ,PP.END_DATE
        ,isnull(PP.UNIT_PRICE,0) AS UNIT_PRICE
        ,isnull(PP.PRE_RECEIVE,0) AS PRE_RECEIVE
        FROM
        (select PA.PATIENT_ID,PA.HOSP_NUM,PAY.PAYSERVICE_ID,PAY.NAME from PATIENT PA,PAYSERVICE PAY
        WHERE 1=1
        <if test="patientId != null and patientId != ''">
            AND PA.PATIENT_ID=#{patientId}
        </if>
        )PAY
        LEFT JOIN
        (SELECT * FROM PA_PAYSERVICE WHERE IS_USE=1 ) PP ON PAY.PAYSERVICE_ID=PP.PAYSERVICE_ID OR PAY.HOSP_NUM=PP.HOSP_NUM

    </select>
    
    <!--添加-->
    <insert id="addPaPayService" parameterType="com.jiubo.sam.bean.PaPayserviceBean" keyProperty="ppId" useGeneratedKeys="true">
        insert into PA_PAYSERVICE
        (PAYSERVICE_ID,IS_USE,BEG_DATE,HOSP_NUM,UNIT_PRICE,PRE_RECEIVE,CREATE_DATE,PATIENT_ID)
        values
        (#{payserviceId},#{isUse},convert(varchar, getdate(), 110),#{hospNum},#{unitPrice},#{preReceive},getdate(),#{patientId})
    </insert>

    <!--修改-->
    <update id="updatePaPayService" parameterType="com.jiubo.sam.bean.PaPayserviceBean" keyProperty="ppId" useGeneratedKeys="true">
        update PA_PAYSERVICE
        set
        <trim suffixOverrides=",">
            <if test="isUse==0">
                IS_USE=0,
                END_DATE=convert(varchar, getdate(), 110),
            </if>
            <if test="unitPrice != null and unitPrice != ''">
                UNIT_PRICE=#{unitPrice},
            </if>
            <if test="preReceive != null and preReceive != ''">
                PRE_RECEIVE=#{preReceive},
            </if>
        </trim>
        where 1=1
        <if test="ppId != null and ppId != ''">
            AND PP_ID=#{ppId}
        </if>
        <if test="patientId != null and patientId != ''">
            AND PATIENT_ID=#{patientId}
        </if>
        <if test="hospNum != null and hospNum != ''">
            AND HOSP_NUM=#{hospNum}
        </if>
    </update>

    <!--出院修改 根据患者ID 停止所有收费项目-->
    <update id="updatePaPayServiceByPatient" parameterType="com.jiubo.sam.bean.PaPayserviceBean">
        update PA_PAYSERVICE
        set
            IS_USE=0,
            END_DATE=convert(varchar, getdate(), 110)
        where 1=1
        <if test="hospNum != null and hospNum != ''">
            AND HOSP_NUM=#{hospNum}
        </if>
    </update>

    <!--跟新加修改-->
    <insert id="addAndUpdatePaPayService" >
        <if test="list != null and list.size() > 0">
            <foreach collection="list" item="item">
                UPDATE PA_PAYSERVICE
                SET
                <trim suffixOverrides=",">
                    IS_USE = #{item.isUse},
                    <if test="item.isUse==0">
                        END_DATE = convert(varchar, getdate(), 110),
                    </if>
                    <if test="item.unitPrice != null and item.unitPrice != ''">
                        UNIT_PRICE = #{item.unitPrice},
                    </if>
                    <if test="item.preReceive != null and item.preReceive != ''">
                        PRE_RECEIVE = #{item.preReceive},
                    </if>
                </trim>
                WHERE HOSP_NUM = #{item.hospNum} AND IS_USE = '1' AND PAYSERVICE_ID = #{item.payserviceId} AND PP_ID = #{item.ppId};
                IF NOT EXISTS (SELECT * FROM PA_PAYSERVICE WHERE PP_ID = #{item.ppId} AND IS_USE = '1')
                INSERT INTO PA_PAYSERVICE (PAYSERVICE_ID, IS_USE, HOSP_NUM, BEG_DATE,CREATE_DATE,UNIT_PRICE,PRE_RECEIVE)
                VALUES (#{item.payserviceId}, #{item.isUse}, #{item.hospNum}, convert(varchar, getdate(), 110),convert(varchar, getdate(), 110),#{item.unitPrice},#{item.preReceive});
            </foreach>
        </if>
    </insert>
</mapper>
