<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.PaPayserviceDao">
    <!--查询所有项目-->
    <select id="queryPaPayService" parameterType="com.jiubo.sam.bean.PaPayserviceBean" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        SELECT PAY.*,PP.PP_ID,
        isnull(PP.IS_USE,0) IS_USE,
        PP.BEG_DATE,
        PAY.NAME,
        PAY.PAY_TYPE,
        PAY.IN_HOSP,
        CASE WHEN PP.BEG_DATE IS NOT NULL AND PP.END_DATE IS NULL THEN DATEDIFF(DAY,PP.BEG_DATE , GETDATE())+1
        WHEN PP.BEG_DATE IS NOT NULL AND PP.END_DATE IS NOT NULL THEN DATEDIFF(DAY,PP.BEG_DATE , PP.END_DATE)+1
        WHEN PP.BEG_DATE IS NULL AND PP.END_DATE IS NULL THEN 0 ELSE 0 END DAY_NUM,
        PP.END_DATE,
        CASE WHEN PP.UNIT_PRICE IS NULL OR PP.UNIT_PRICE = 0 THEN
        PAY.PRICE
        ELSE PP.UNIT_PRICE
        END UNIT_PRICE,
        isnull(PP.PRE_RECEIVE,0)  PRE_RECEIVE
        FROM
        (select PA.PATIENT_ID,PA.HOSP_NUM,PAY.PAYSERVICE_ID,PAY.NAME,PAY.PAY_TYPE,PAY.PRICE,PA.IN_HOSP from PATIENT PA,PAYSERVICE PAY
        WHERE 1=1 AND PAY.ISUSE=1
        <if test="patientId != null and patientId != ''">
            AND PA.PATIENT_ID=#{patientId}
        </if>
        )PAY
        LEFT JOIN
        (SELECT APP.* FROM
        (SELECT DISTINCT  PATIENT_ID,PAYSERVICE_ID,MAX(BEG_DATE) BEG_DATE  FROM PA_PAYSERVICE GROUP BY PATIENT_ID,PAYSERVICE_ID) MAXPP
        LEFT JOIN PA_PAYSERVICE APP ON MAXPP.PATIENT_ID=APP.PATIENT_ID AND MAXPP.PAYSERVICE_ID=APP.PAYSERVICE_ID AND MAXPP.BEG_DATE=APP.BEG_DATE
        <if test="patientId != null and patientId != ''">
            WHERE APP.PATIENT_ID=#{patientId}
        </if>
        ) PP ON PAY.PAYSERVICE_ID=PP.PAYSERVICE_ID


    </select>


    
    <!--添加   TYPE=0-->
    <insert id="addPaPayService" parameterType="com.jiubo.sam.bean.PaPayserviceBean" keyProperty="ppId" useGeneratedKeys="true">
        insert into PA_PAYSERVICE
        (PAYSERVICE_ID,IS_USE,BEG_DATE,HOSP_NUM,UNIT_PRICE,PRE_RECEIVE,CREATE_DATE,PATIENT_ID)
        values
        (#{payserviceId},#{isUse},convert(varchar, getdate(), 110),#{hospNum},#{unitPrice},#{preReceive},getdate(),#{patientId})
    </insert>

    <!--添加  type=1-->
    <insert id="addPaPayServiceByType" parameterType="com.jiubo.sam.bean.PaPayserviceBean" keyProperty="ppId" useGeneratedKeys="true">
        insert into PA_PAYSERVICE
        (PAYSERVICE_ID,IS_USE,BEG_DATE,END_DATE,HOSP_NUM,UNIT_PRICE,PRE_RECEIVE,CREATE_DATE,PATIENT_ID)
        values
        (#{payserviceId},1,convert(varchar, getdate(), 110),convert(varchar, DATEADD(dd,#{dayNum}-1,getdate()), 110),#{hospNum},#{unitPrice},#{preReceive},getdate(),#{patientId})
    </insert>

    <!--修改-->
    <update id="updatePaPayService" parameterType="com.jiubo.sam.bean.PaPayserviceBean" keyProperty="ppId" useGeneratedKeys="true">
        update PA_PAYSERVICE
        set
        <trim suffixOverrides=",">
            <choose>
                <when test="isUse==0">
                    IS_USE=0,
                    END_DATE=convert(varchar, getdate(), 110),
                </when>
                <when test="isUse==1">
                    IS_USE=1,
                </when>
            </choose>
            <if test="unitPrice != null and unitPrice != ''">
                UNIT_PRICE=#{unitPrice},
            </if>
            <if test="preReceive != null and preReceive != ''">
                PRE_RECEIVE=#{preReceive},
            </if>
        </trim>
        where 1=1
        <if test="ppId != null and ppId != ''">
            AND PP_ID=#{ppId}
        </if>
        <if test="patientId != null and patientId != ''">
            AND PATIENT_ID=#{patientId}
        </if>
        <if test="hospNum != null and hospNum != ''">
            AND HOSP_NUM=#{hospNum}
        </if>
        <if test="payserviceId != null and payserviceId != ''">
            AND PAYSERVICE_ID=#{payserviceId}
        </if>
    </update>

    <!--修改-->
    <update id="updatePaPayServiceByType" parameterType="com.jiubo.sam.bean.PaPayserviceBean" keyProperty="ppId" useGeneratedKeys="true">
        update PA_PAYSERVICE
        set
          BEG_DATE=convert(varchar, getdate(), 110),
          END_DATE=convert(varchar, DATEADD(dd,#{dayNum},getdate()), 110),
          UNIT_PRICE=#{unitPrice}
        where 1=1
        <if test="ppId != null and ppId != ''">
            AND PP_ID=#{ppId}
        </if>
    </update>

    <!--更新所有字段-->
    <update id="updatePaPayServiceById" parameterType="com.jiubo.sam.bean.PaPayserviceBean" keyProperty="ppId" useGeneratedKeys="true">
        update PA_PAYSERVICE
        set IS_USE=1, END_DATE=NULL
        <if test="unitPrice != null and unitPrice != ''">
            ,UNIT_PRICE=#{unitPrice}
        </if>
        where 1=1
        and PATIENT_ID IN (SELECT PATIENT_ID FROM PATIENT T WHERE T.IN_HOSP = 1 )
        <if test="ppId != null and ppId != ''">
            AND PP_ID=#{ppId}
        </if>
        <if test="patientId != null and patientId != ''">
            AND PATIENT_ID=#{patientId}
        </if>
        <if test="hospNum != null and hospNum != ''">
            AND HOSP_NUM=#{hospNum}
        </if>
    </update>

    <!--出院修改 根据患者ID 停止所有收费项目-->
    <update id="updatePaPayServiceByPatient" parameterType="com.jiubo.sam.bean.PaPayserviceBean">
        update PA_PAYSERVICEset
            IS_USE=0,
            END_DATE=#{now}
        where
        HOSP_NUM=#{hospNum}
    </update>

    <!--跟新加修改-->
    <insert id="addAndUpdatePaPayService" >
        <if test="list != null and list.size() > 0">
            <foreach collection="list" item="item">
                UPDATE PA_PAYSERVICE
                SET
                <trim suffixOverrides=",">
                    IS_USE = #{item.isUse},
                    <if test="item.isUse==0">
                        END_DATE = convert(varchar, getdate(), 110),
                    </if>
                    <if test="item.unitPrice != null and item.unitPrice != ''">
                        UNIT_PRICE = #{item.unitPrice},
                    </if>
                    <if test="item.preReceive != null and item.preReceive != ''">
                        PRE_RECEIVE = #{item.preReceive},
                    </if>
                </trim>
                WHERE HOSP_NUM = #{item.hospNum} AND IS_USE = '1' AND PAYSERVICE_ID = #{item.payserviceId} AND PP_ID = #{item.ppId};
                IF NOT EXISTS (SELECT * FROM PA_PAYSERVICE WHERE PP_ID = #{item.ppId} AND IS_USE = '1')
                INSERT INTO PA_PAYSERVICE (PAYSERVICE_ID, IS_USE, HOSP_NUM, BEG_DATE,CREATE_DATE,UNIT_PRICE,PRE_RECEIVE)
                VALUES (#{item.payserviceId}, #{item.isUse}, #{item.hospNum}, convert(varchar, getdate(), 110),convert(varchar, getdate(), 110),#{item.unitPrice},#{item.preReceive});
            </foreach>
        </if>
    </insert>

    <select id="getPaPayServiceByCon" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select * from PA_PAYSERVICE
        where 1=1
        <if test="paPayserviceBean.payserviceId != null and paPayserviceBean.payserviceId != '' and paPayserviceBean.payserviceId != 0">
           and PAYSERVICE_ID = #{paPayserviceBean.payserviceId}
        </if>
        <if test="paPayserviceBean.patientId != null and paPayserviceBean.patientId != '' and paPayserviceBean.patientId != 0">
            and PATIENT_ID = #{paPayserviceBean.patientId}
        </if>
    </select>

    <select id="selectPaPayService" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select * from PA_PAYSERVICE
        where HOSP_NUM = #{hospNum}
    </select>

    <select id="getSectionDateCover" parameterType="com.jiubo.sam.dto.OpenServiceReceive"
            resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select * from PA_PAYSERVICE where
        PATIENT_ID = #{patientId}
        and PAYSERVICE_ID = #{proId}
        and (
        CONVERT(varchar(100), BEG_DATE, 23) >= CONVERT(varchar(100), #{startDate}, 23)
         and CONVERT(varchar(100), #{endDate}, 23) >= CONVERT(varchar(100), BEG_DATE, 23)
        or CONVERT(varchar(100), END_DATE, 23) >= CONVERT(varchar(100), #{startDate}, 23)
         and CONVERT(varchar(100), #{endDate}, 23) >= CONVERT(varchar(100), END_DATE, 23)
        )
    </select>
    <select id="getDefaultDateCover" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select * from PA_PAYSERVICE where
        PATIENT_ID = #{patientId}
        and PAYSERVICE_ID = #{proId}
        and (
        CONVERT(varchar(100), #{startDate}, 23) >= CONVERT(varchar(100), BEG_DATE, 23)
         and CONVERT(varchar(100), END_DATE, 23) > CONVERT(varchar(100), #{startDate}, 23)
        )
    </select>
    <select id="selectByHospNum" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select *
        from PA_PAYSERVICE
        where HOSP_NUM = #{hospNum}
        and PAYSERVICE_ID = #{payserviceId}
        and END_DATE >= #{endDate}
        and #{endDate} >= BEG_DATE
        and IS_USE in (1,3)
    </select>

    <select id="selectByHospNumAndPayServiceId" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select *
        from PA_PAYSERVICE
        where HOSP_NUM = #{hospNum}
        and PAYSERVICE_ID = #{payserviceId}
    </select>
    <select id="selectByHospNumAndOutHosp" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select *
        from PA_PAYSERVICE
        where HOSP_NUM = #{hospNum}
        and IS_USE = 1
    </select>
    <select id="selectOpenByHospNumAndOutHosp" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select *
        from PA_PAYSERVICE
        where HOSP_NUM = #{hospNum}
        and BEG_DATE >= #{outHosp}
        and IS_USE IN (1,3)
    </select>
    <select id="selectByHospNumAndOutHosps" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select *
        from PA_PAYSERVICE
        where HOSP_NUM = #{hospNum}
        and #{outHosp} >= BEG_DATE
        and IS_USE = 1
    </select>

    <select id="getPBByCondition" parameterType="com.jiubo.sam.dto.PdCondition" resultType="com.jiubo.sam.bean.NoMedicalBean">
        SELECT * FROM (
        SELECT
        PP.ID_CARD AS ID_CARD,
        CONVERT(varchar(100), PP.BEG_DATE, 23) AS BEG_DATE,
        CASE
        WHEN PP.END_DATE IS NULL THEN
        CONVERT(varchar(100), GETDATE(), 23) ELSE CONVERT(varchar(100), PP.END_DATE, 23)
        END AS END_DATE,
        PP.DEPT_ID AS DEPT_ID,
        PP.UNIT_PRICE AS UNIT_PRICE,
        PP.HOSP_NUM AS HOSP_NUM,
        P.NAME AS paName,
        CASE
        WHEN P.IN_HOSP = 0 THEN 2
        ELSE 1 END AS isHosp,
        DEPT.NAME AS deptName,
        EMP.emp_name AS doctor
        FROM
        PA_PAYSERVICE PP
        LEFT JOIN PATIENT P ON PP.ID_CARD = P.ID_CARD
        LEFT JOIN DEPARTMENT DEPT ON PP.DEPT_ID = DEPT.DEPT_ID
        LEFT JOIN employee EMP ON PP.REVISER = EMP.id
        WHERE PP.ID_CARD = #{idCard}
        ) S
        WHERE 1=1
        <if test="deptId != null">
            AND S.DEPT_ID = #{idCard}
        </if>
        <if test="startDate != null or endDate != null">
            <if test="null != startDate and endDate == null">
                and CONVERT(varchar(100), S.END_DATE, 23) >=
                CONVERT(varchar(100),#{startDate}, 23)
            </if>
            <if test="null == startDate and endDate != null">
                and CONVERT(varchar(100),#{endDate}, 23) >= CONVERT(varchar(100),
                S.BEG_DATE, 23)
            </if>
            <if test="null != startDate and endDate != null">
                and CONVERT(varchar(100), S.BEG_DATE, 23) >=
                CONVERT(varchar(100),#{startDate}, 23) and
                CONVERT(varchar(100),#{endDate}, 23) >= CONVERT(varchar(100), S.BEG_DATE,
                23)
                or CONVERT(varchar(100), S.BEG_DATE, 23) >=
                CONVERT(varchar(100),#{startDate}, 23) and
                CONVERT(varchar(100),#{endDate}, 23) >= CONVERT(varchar(100), S.END_DATE,
                23)
                or CONVERT(varchar(100),#{startDate}) >= CONVERT(varchar(100), S.BEG_DATE, 23)
                and CONVERT(varchar(100), S.END_DATE, 23) >=
                CONVERT(varchar(100),#{endDate}, 23)
            </if>
        </if>
    </select>
    <select id="getDateTable" resultType="java.lang.String">
        SELECT CONVERT
	        ( CHAR ( 10 ), DATEADD( dd, number, #{startDate} ), 120 ) AS yyyymmdd
        FROM
	        master..spt_values
        WHERE
	        type = 'p'
	    AND
	    DATEDIFF( MI, DATEADD( dd, number, #{startDate} ), #{endDate} ) >= 0
    </select>
    <select id="selectByHospNumStart" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select * from PA_PAYSERVICE
        where #{hospNum} = HOSP_NUM
        and #{payserviceId} = PAYSERVICE_ID
        and ((BEG_DATE &lt;= #{begDate} and IS_USE = 1) or (BEG_DATE &lt;= #{begDate} and END_DATE >= #{begDate}))
    </select>



    <insert id="addUserService" parameterType="com.jiubo.sam.dto.PayServiceDto" keyProperty="ppId" useGeneratedKeys="true">
        insert into PA_PAYSERVICE
        (PAYSERVICE_ID,IS_USE,BEG_DATE,END_DATE,HOSP_NUM,UNIT_PRICE,PRE_RECEIVE,CREATE_DATE,
        PATIENT_ID,ID_CARD,UPDATE_DATE,CREATOR,REVISER,DEPT_ID)
        values
        (#{payserviceId},#{isUse},#{begDate},#{endDate},#{hospNum},#{unitPrice},#{preReceive},
        GETDATE(),#{patientId},#{idCard},GETDATE(),#{creator},#{reviser},#{deptId})
    </insert>
</mapper>
