<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.PatinetMarginDao">

    <select id="selecAllList" resultType="com.jiubo.sam.bean.PatinetMarginBean">
        select * from PATINET_MARGIN
        where HOSP_NUM = #{hospNum}
    </select>

    <update id="rollbackMargin">
        update PATINET_MARGIN set MONEY = MONEY + 3000 where ID_CARD = #{idCard}
    </update>

    <delete id="deletePdByWaterNum">
        delete from PAYMENT_DETAILS where serial_number = #{waterNum}
    </delete>

    <delete id="deleteHpByWaterNum">
        delete from HOSPITAL_PATIENT where serial_number = #{waterNum}
    </delete>
</mapper>
