<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.PatientDao">
    <!--    查询患者信息-->
    <select id="queryPatient" resultType="com.jiubo.sam.bean.PatientBean">
        SELECT A.PATIENT_ID, A.HOSP_NUM, A.NAME, A.SEX, A.AGE, A.HOSP_TIME,A.PATITYPEID,PATIENTTYPE.PATITYPENAME,ACC.NAME AS ACCOUNT_NAME,
        A.IN_HOSP, CASE WHEN A.IN_HOSP=1  THEN null ELSE ISNULL(A.OUT_HOSP,null) END AS OUT_HOSP, A.DEPT_ID, A.RECEIVABLE, A.UPDATE_TIME,B.NAME
        DEPTNAME,A.MITYPEID,MEDICINSURTYPE.MITYPENAME,A.EMP_ID,E.emp_name as empName
        FROM PATIENT A
        LEFT JOIN DEPARTMENT B
        ON B.DEPT_ID = A.DEPT_ID
        LEFT JOIN PATIENTTYPE
        ON PATIENTTYPE.PATITYPEID = A.PATITYPEID
        LEFT JOIN MEDICINSURTYPE
        ON MEDICINSURTYPE.MITYPEID = A.MITYPEID
        LEFT JOIN employee E ON A.EMP_ID = E.id
        LEFT JOIN sys_account ACC ON ACC.SA_ID = A.ACCOUNT_ID
        <where>
             1 = 1
            <if test="patientBean.deptId != null and patientBean.deptId != ''">
                AND A.DEPT_ID = #{patientBean.deptId}
            </if>
            <if test="patientBean.deptList != null and patientBean.deptList.size() > 0" >
                AND A.DEPT_ID IN
                <foreach collection="patientBean.deptList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="patientBean.name != null and patientBean.name != ''">
                AND A.NAME LIKE '%' + #{patientBean.name} + '%'
            </if>
            <if test="patientBean.patientId != null and patientBean.patientId != ''">
                AND A.PATIENT_ID = #{patientBean.patientId}
            </if>
            <if test="patientBean.empId != null and patientBean.empId != ''">
                AND A.EMP_ID = #{patientBean.empId}
            </if>
            <if test="patientBean.hospNum != null and patientBean.hospNum != ''">
                AND A.HOSP_NUM = #{patientBean.hospNum}
            </if>
            <if test="patientBean.mitypeid != null and patientBean.mitypeid != ''">
                AND A.MITYPEID = #{patientBean.mitypeid}
            </if>
            <if test="patientBean.patitypeid != null and patientBean.patitypeid != ''">
                AND A.PATITYPEID = #{patientBean.patitypeid}
            </if>
            <if test="patientBean.inHosp != null and patientBean.inHosp != ''">
                AND A.IN_HOSP = #{patientBean.inHosp}
            </if>
            <if test="patientBean.sex != null and patientBean.sex != ''">
                AND A.SEX = #{patientBean.sex}
            </if>
            <if test="patientBean.begHospTime != null and patientBean.begHospTime != ''">
                AND A.HOSP_TIME >= #{patientBean.begHospTime}
            </if>
            <if test="patientBean.endHospTime != null and patientBean.endHospTime != ''">
                AND A.HOSP_TIME &lt; #{patientBean.endHospTime}
            </if>
            <if test="patientBean.empId != null and patientBean.empId != ''">
                AND A.EMP_ID = #{patientBean.empId}
            </if>
        </where>
    </select>


    <select id="queryPatientInfo" parameterType="com.jiubo.sam.bean.PatientBean" resultType="com.jiubo.sam.bean.PatientBean">
        select * from PATIENT
        <where>
            <trim prefixOverrides="AND">
                <if test="patientId != null and patientId != ''">
                    AND PATIENT_ID=#{patientId}
                </if>
                <if test="hospNum != null and hospNum != ''">
                    AND HOSP_NUM=#{hospNum}
                </if>
            </trim>
        </where>
    </select>

    <!--    新收费信息汇总查询-->
    <select id="queryGatherNewPayment" parameterType="com.jiubo.sam.bean.PatientBean" resultType="com.jiubo.sam.bean.PatientBean">
        SELECT PAT.ENDDATE,PAT.DATEDIFFRENT,PT.PATITYPENAME,MT.MITYPENAME,DEPT.NAME AS deptName,P.*
        FROM
        (SELECT PM.PATIENT_ID,MIN(PM.ENDTIME) AS ENDDATE,DATEDIFF(DAY,GETDATE(),MIN(PM.ENDTIME))  AS DATEDIFFRENT FROM PATIENT P
        LEFT JOIN PAYMENT PM ON PM.PATIENT_ID= P.PATIENT_ID
        WHERE PM.PATIENT_ID IS NOT NULL AND PM.BEGTIME IS NOT NULL
        GROUP BY PM.PATIENT_ID) PAT
        LEFT JOIN PATIENT P ON PAT.PATIENT_ID=P.PATIENT_ID
        LEFT JOIN DEPARTMENT DEPT ON DEPT.DEPT_ID=P.DEPT_ID
        LEFT JOIN PATIENTTYPE PT ON P.PATITYPEID=PT.PATITYPEID
        LEFT JOIN MEDICINSURTYPE MT ON MT.MITYPEID=P.MITYPEID
        <where>
            <if test="hospNum != null and hospNum != ''">
                AND P.HOSP_NUM LIKE '%'+#{hospNum}+'%'
            </if>
            <if test="deptId != null and deptId != ''">
                AND P.DEPT_ID = #{deptId}
            </if>
            <if test="name != null and name != ''">
                AND P.NAME LIKE '%'+#{name}+'%'
            </if>
            <if test="patitypeid != null and patitypeid != ''">
                AND PT.PATITYPEID = #{patitypeid}
            </if>
            <if test="patientId != null and patientId != ''">
                AND P.PATITYPEID = #{patientId}
            </if>
            <if test="mitypeid != null and mitypeid != ''">
                AND MT.MITYPEID = #{mitypeid}
            </if>
        </where>
    </select>
    <!--  根据住院号修改维护医生  -->
    <update id="updateDoctorByHospNum">
        UPDATE PATIENT SET EMP_ID = #{empId}
        WHERE HOSP_NUM = #{hospNum}
    </update>

    <!--精确查询患者-->
    <select id="accurateQuery" parameterType="com.jiubo.sam.bean.PatientBean"
            resultType="com.jiubo.sam.bean.PatientBean">
        SELECT * FROM PATIENT
        <where>
            <if test=" hospNum != null and hospNum != ''">
                HOSP_NUM=#{hospNum}
            </if>
        </where>
    </select>
    <!--模糊查询患者-->
    <select id="fuzzyQuery" parameterType="com.jiubo.sam.bean.PatientBean" resultType="com.jiubo.sam.bean.PatientBean">
        SELECT P.*,DEPT.NAME AS deptName,PM.MONEY AS money
        FROM PATIENT P
        LEFT JOIN DEPARTMENT DEPT ON DEPT.DEPT_ID = P.DEPT_ID
        LEFT JOIN PATINET_MARGIN PM ON PM.HOSP_NUM = P.HOSP_NUM
        <where>
            <if test=" hospNum != null and hospNum != ''">
                P.HOSP_NUM = #{hospNum}
            </if>
        </where>
    </select>
    <!--    添加患者信息-->
    <insert id="addPatient" useGeneratedKeys="true" keyProperty="patientId">
        INSERT INTO PATIENT (HOSP_NUM, NAME, SEX, AGE, HOSP_TIME, IN_HOSP,
        OUT_HOSP, DEPT_ID, RECEIVABLE, UPDATE_TIME, PATITYPEID, MITYPEID,ACCOUNT_ID,EMP_ID)
        VALUES (#{hospNum}, #{name}, #{sex}, #{age}, #{hospTime}, #{inHosp}, #{outHosp}, #{deptId}, #{receivable},
        #{updateTime}, #{patitypeid}, #{mitypeid},#{accountId},#{empId})
    </insert>

    <!--    插入患者、收费项目、交费记录关系-->
    <insert id="addPatientPayservicePayment">
        INSERT INTO PATIENT_PAYSERVICE (PAYSERVICE_ID, PAYMENT_ID)
        VALUES (#{patientId}, #{payserviceId}, #{paymentId})
    </insert>

    <!--    插入患者基础信息（有则更新，无则插入）-->
    <insert id="saveOrUpdate">
        <if test="list != null and list.size() > 0">
            <foreach collection="list" item="item">
                UPDATE PATIENT
                SET
                <trim suffixOverrides=",">
                    <if test="item.name != null and item.name != ''">
                        NAME = #{item.name} ,
                    </if>
                    <if test="item.sex != null and item.sex != ''">
                        SEX = #{item.sex} ,
                    </if>
                    <if test="item.age != null and item.age != ''">
                        AGE = #{item.age} ,
                    </if>
                    <if test="item.hospTime != null and item.hospTime != ''">
                        HOSP_TIME = #{item.hospTime} ,
                    </if>
                    <if test="item.inHosp != null and item.inHosp != ''">
                        IN_HOSP = #{item.inHosp} ,
                    </if>
                    <if test="item.outHosp != null and item.outHosp != ''">
                        OUT_HOSP = #{item.outHosp} ,
                    </if>
                    <if test="item.deptId != null and item.deptId != ''">
                        DEPT_ID = #{item.deptId} ,
                    </if>
                    <if test="item.receivable != null and item.receivable != ''">
                        RECEIVABLE = #{item.receivable} ,
                    </if>
                    <if test="item.updateTime != null and item.updateTime != ''">
                        UPDATE_TIME = #{item.updateTime} ,
                    </if>
                    <if test="item.patitypeid != null and item.patitypeid != ''">
                        PATITYPEID = #{item.patitypeid} ,
                    </if>
                    <if test="item.mitypeid != null and item.mitypeid != ''">
                        MITYPEID = #{item.mitypeid} ,
                    </if>
                    <if test="item.accountId != null and item.accountId != ''">
                        ACCOUNT_ID = #{item.accountId},
                    </if>
                    <if test="item.empId != null and item.empId != ''">
                        EMP_ID = #{item.empId},
                    </if>
                </trim>
                WHERE HOSP_NUM = #{item.hospNum}
                IF NOT EXISTS (SELECT * FROM PATIENT WHERE HOSP_NUM = #{item.hospNum})
                INSERT INTO PATIENT (HOSP_NUM, NAME, SEX, AGE, HOSP_TIME, IN_HOSP,OUT_HOSP, DEPT_ID, RECEIVABLE,
                UPDATE_TIME,PATITYPEID,MITYPEID,ACCOUNT_ID,EMP_ID)
                VALUES (#{item.hospNum}, #{item.name}, #{item.sex}, #{item.age}, #{item.hospTime}, #{item.inHosp},
                #{item.outHosp}, #{item.deptId},
                #{item.receivable},GETDATE(),#{item.patitypeid},#{item.mitypeid},#{item.accountId},#{item.empId});
            </foreach>
        </if>
    </insert>

</mapper>
