<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.PatientDao">
    <!--    查询患者信息-->

    <select id="queryPatient" resultType="com.jiubo.sam.bean.PatientBean">
        SELECT A.PATIENT_ID, A.HOSP_NUM, A.NAME, A.SEX, A.AGE,A.IS_NO_FUNDING,
        A.HOSP_TIME,A.PATITYPEID,PATIENTTYPE.PATITYPENAME,ACC.NAME AS ACCOUNT_NAME,
        A.IN_HOSP, CASE WHEN A.IN_HOSP=1 THEN null ELSE ISNULL(A.OUT_HOSP,null) END AS OUT_HOSP,
        A.DEPT_ID, A.RECEIVABLE, A.UPDATE_TIME,B.NAME DEPTNAME,A.MITYPEID,MEDICINSURTYPE.MITYPENAME,
        A.EMP_ID,E.emp_name as empName,ISNULL(PM.MONEY,0) AS money,
        A.ID_CARD,A.HOSP_BALANCE,A.LIAISON_MAN,A.LIAISON_MAN_PHONE,A.PATIENT_PHONE,A.UNIT_NAME,
        A.UNIT_ADDRESS,A.SOURCE,A.CREATE_DATE,A.CREATOR,A.REVISER,A.FLAG,D.TOTAL * (-1) as medicalTatol
        FROM PATIENT A
        LEFT JOIN DEPARTMENT B
        ON B.DEPT_ID = A.DEPT_ID
        LEFT JOIN PATIENTTYPE
        ON PATIENTTYPE.PATITYPEID = A.PATITYPEID
        LEFT JOIN MEDICINSURTYPE
        ON MEDICINSURTYPE.MITYPEID = A.MITYPEID
        LEFT JOIN employee E ON A.EMP_ID = E.id
        LEFT JOIN sys_account ACC ON ACC.SA_ID = A.ACCOUNT_ID
        LEFT JOIN PATINET_MARGIN PM ON PM.HOSP_NUM = A.HOSP_NUM
        LEFT JOIN (
        SELECT
        T.PATIENT_ID,
        SUM ( T.DAYS ) DAYS,
        MAX ( T.UNIT_PRICE ) PRICE,
        SUM ( T.TOTAL ) TOTAL,
        MAX ( T.ENDDATE ) ENDTIME
        FROM
        (
        SELECT
        PA.PATIENT_ID,
        PA.PAYSERVICE_ID,
        PA.BEG_DATE,
        PA.END_DATE,
        P.ENDTIME,
        CASE

        WHEN P.PATIENT_ID IS NULL THEN
        DATEDIFF( DAY, PA.BEG_DATE, CASE WHEN PA.END_DATE IS NULL THEN GETDATE() ELSE PA.END_DATE END ) ELSE (
        CASE

        WHEN P.ENDTIME > PA.END_DATE THEN
        DATEDIFF( DAY, P.ENDTIME, PA.END_DATE ) ELSE (
        CASE

        WHEN PA.BEG_DATE IS NOT NULL
        AND PA.END_DATE IS NOT NULL
        AND PA.BEG_DATE > P.ENDTIME THEN
        DATEDIFF( DAY, PA.BEG_DATE, PA.END_DATE ) ELSE DATEDIFF( DAY, P.ENDTIME, CASE WHEN PA.END_DATE IS NULL THEN GETDATE() ELSE PA.END_DATE END )
        END
        )
        END
        )
        END DAYS,
        PA.UNIT_PRICE,
        CASE

        WHEN P.PATIENT_ID IS NULL THEN
        DATEDIFF( DAY, PA.BEG_DATE, CASE WHEN PA.END_DATE IS NULL THEN GETDATE() ELSE PA.END_DATE END ) ELSE (
        CASE

        WHEN P.ENDTIME > PA.END_DATE THEN DATEDIFF( DAY, P.ENDTIME, PA.END_DATE ) ELSE (
        CASE
        WHEN PA.BEG_DATE IS NOT NULL
        AND PA.END_DATE IS NOT NULL
        AND PA.BEG_DATE > P.ENDTIME THEN
        DATEDIFF( DAY, PA.BEG_DATE, PA.END_DATE ) ELSE DATEDIFF( DAY, P.ENDTIME, CASE WHEN PA.END_DATE IS NULL THEN GETDATE() ELSE PA.END_DATE END )
        END
        )
        END
        )
        END * PA.UNIT_PRICE TOTAL,
        CASE

        WHEN P.PATIENT_ID IS NULL THEN
        CASE

        WHEN PA.END_DATE IS NULL THEN
        GETDATE() ELSE PA.END_DATE
        END ELSE (
        CASE

        WHEN PA.BEG_DATE IS NOT NULL
        AND PA.END_DATE IS NOT NULL
        AND PA.BEG_DATE > P.ENDTIME THEN
        DATEADD(
        dd,
        DATEDIFF( DAY, PA.END_DATE, PA.BEG_DATE ),
        GETDATE()) ELSE (
        CASE

        WHEN P.ENDTIME > ( CASE WHEN PA.END_DATE IS NULL THEN GETDATE() ELSE PA.END_DATE END ) THEN
        P.ENDTIME
        END
        )
        END
        )
        END ENDDATE
        FROM
        PA_PAYSERVICE PA
        LEFT JOIN (
        SELECT
        PAY.PATIENT_ID,
        PAY.PAYMENTTIME,
        PAY.PAYSERVICE_ID,
        CASE

        WHEN ARREARS.PAYMENTTIME > PAY.PAYMENTTIME THEN
        DATEADD( DD, - 1, ARREARS.BEGTIME ) ELSE PAY.ENDTIME
        END ENDTIME
        FROM
        (
        SELECT
        A.*
        FROM
        PAYMENT A,
        ( SELECT PATIENT_ID, PAYSERVICE_ID, MAX ( PAYMENTTIME ) PAYMENTTIME FROM PAYMENT WHERE ISUSE = 1 AND PAYMENT_STATUS = 0 GROUP BY PATIENT_ID, PAYSERVICE_ID ) B
        WHERE
        A.PATIENT_ID = B.PATIENT_ID
        AND A.PAYMENTTIME = B.PAYMENTTIME
        AND A.PAYSERVICE_ID = B.PAYSERVICE_ID
        AND A.ISUSE = 1
        ) PAY
        LEFT JOIN (
        SELECT
        E.*
        FROM
        PAYMENT E,
        ( SELECT PATIENT_ID, PAYSERVICE_ID, MAX ( PAYMENTTIME ) PAYMENTTIME FROM PAYMENT WHERE PAYMENT_STATUS = 1 AND ISUSE = 1 GROUP BY PATIENT_ID, PAYSERVICE_ID ) F
        WHERE
        E.PATIENT_ID = F.PATIENT_ID
        AND E.PAYMENTTIME = F.PAYMENTTIME
        AND E.PAYSERVICE_ID = F.PAYSERVICE_ID
        AND E.ISUSE = 1
        ) ARREARS ON PAY.PATIENT_ID = ARREARS.PATIENT_ID
        AND PAY.PAYSERVICE_ID = ARREARS.PAYSERVICE_ID
        ) P ON PA.PATIENT_ID = P.PATIENT_ID
        AND PA.PAYSERVICE_ID = P.PAYSERVICE_ID
        ) T
        GROUP BY
        T.PATIENT_ID
        ) D ON A.PATIENT_ID = D.PATIENT_ID
        <where>
            1 = 1
            <if test="patientBean.deptId != null and patientBean.deptId != ''">
                AND A.DEPT_ID = #{patientBean.deptId}
            </if>
            <if test="patientBean.deptList != null and patientBean.deptList.size() > 0">
                AND A.DEPT_ID IN
                <foreach collection="patientBean.deptList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="patientBean.name != null and patientBean.name != ''">
                AND A.NAME LIKE '%' + #{patientBean.name} + '%'
            </if>
            <if test="patientBean.patientId != null and patientBean.patientId != ''">
                AND A.PATIENT_ID = #{patientBean.patientId}
            </if>
            <if test="patientBean.empId != null and patientBean.empId != ''">
                AND A.EMP_ID = #{patientBean.empId}
            </if>
            <if test="patientBean.hospNum != null and patientBean.hospNum != ''">
                AND A.HOSP_NUM like '%' + #{patientBean.hospNum} + '%'
            </if>
            <if test="patientBean.mitypeid != null and patientBean.mitypeid != ''">
                AND A.MITYPEID = #{patientBean.mitypeid}
            </if>
            <if test="patientBean.patitypeid != null and patientBean.patitypeid != ''">
                AND A.PATITYPEID = #{patientBean.patitypeid}
            </if>
            <if test="patientBean.inHosp != null and patientBean.inHosp != ''">
                AND A.IN_HOSP = #{patientBean.inHosp}
            </if>
            <if test="patientBean.sex != null and patientBean.sex != ''">
                AND A.SEX = #{patientBean.sex}
            </if>
            <if test="patientBean.begHospTime != null and patientBean.begHospTime != ''">
                AND A.HOSP_TIME >= #{patientBean.begHospTime}
            </if>
            <if test="patientBean.endHospTime != null and patientBean.endHospTime != ''">
                AND A.HOSP_TIME &lt; #{patientBean.endHospTime}
            </if>
            <if test="patientBean.empId != null and patientBean.empId != ''">
                AND A.EMP_ID = #{patientBean.empId}
            </if>
            <if test="patientBean.idCard != null and patientBean.idCard != ''">
                AND A.ID_CARD LIKE '%' + #{patientBean.idCard} + '%'
            </if>
            <if test="patientBean.liaisonManPhone != null and patientBean.liaisonManPhone != ''">
                AND A.LIAISON_MAN_PHONE LIKE '%' + #{patientBean.liaisonManPhone} + '%'
            </if>
        </where>
    </select>

    <select id="getPaById" resultType="com.jiubo.sam.bean.PatientBean">
        select * from PATIENT where PATIENT_ID = #{id}
    </select>
    <!--<select id="queryPatient" resultType="com.jiubo.sam.bean.PatientBean">
        SELECT A.PATIENT_ID, A.HOSP_NUM, A.NAME, A.SEX, A.AGE,
        A.HOSP_TIME,A.PATITYPEID,PATIENTTYPE.PATITYPENAME,ACC.NAME AS ACCOUNT_NAME,
        A.IN_HOSP, CASE WHEN A.IN_HOSP=1 THEN null ELSE ISNULL(A.OUT_HOSP,null) END AS OUT_HOSP,
        A.DEPT_ID, A.RECEIVABLE, A.UPDATE_TIME,B.NAME DEPTNAME,A.MITYPEID,MEDICINSURTYPE.MITYPENAME,
        A.EMP_ID,E.emp_name as empName,ISNULL(PM.MONEY,0) - ISNULL(NOMEG.paCount,0) AS money,
        A.ID_CARD,A.HOSP_BALANCE,A.LIAISON_MAN,A.LIAISON_MAN_PHONE,A.PATIENT_PHONE,A.UNIT_NAME,
        A.UNIT_ADDRESS,A.SOURCE,A.CREATE_DATE,A.CREATOR,A.REVISER,A.FLAG
        FROM PATIENT A
        LEFT JOIN DEPARTMENT B
        ON B.DEPT_ID = A.DEPT_ID
        LEFT JOIN PATIENTTYPE
        ON PATIENTTYPE.PATITYPEID = A.PATITYPEID
        LEFT JOIN MEDICINSURTYPE
        ON MEDICINSURTYPE.MITYPEID = A.MITYPEID
        LEFT JOIN employee E ON A.EMP_ID = E.id
        LEFT JOIN sys_account ACC ON ACC.SA_ID = A.ACCOUNT_ID
        LEFT JOIN PATINET_MARGIN PM ON PM.HOSP_NUM = A.HOSP_NUM
        LEFT JOIN (
        SELECT
        NOMOUNT.ID_CARD AS ID_CARD,
        SUM( ( NOMOUNT.days + 1 ) * NOMOUNT.UNIT_PRICE ) AS paCount
        FROM
        (
        SELECT
        SS.HOSP_NUM AS HOSP_NUM,
        SS.UNIT_PRICE AS UNIT_PRICE,
        SS.PAYSERVICE_ID AS PAYSERVICE_ID,
        SS.ID_CARD AS ID_CARD,
        SS.BEG_DATE,
        SS.END_DATE,
        CASE

        WHEN S.PAY_TYPE = 0
        AND SS.END_DATE IS NOT NULL THEN
        datediff( DAY, SS.BEG_DATE, SS.END_DATE )
        WHEN S.PAY_TYPE = 0
        AND SS.END_DATE IS NULL THEN
        datediff( DAY, SS.BEG_DATE, GETDATE ( ) )
        WHEN S.PAY_TYPE = 1 THEN
        datediff( DAY, SS.BEG_DATE, SS.END_DATE ) ELSE datediff( DAY, SS.BEG_DATE, GETDATE ( ) )
        END AS days
        FROM
        PA_PAYSERVICE SS
        LEFT JOIN PAYSERVICE S ON SS.PAYSERVICE_ID = S.PAYSERVICE_ID
        WHERE SS.IS_USE != 2
        ) NOMOUNT
        GROUP BY
        NOMOUNT.ID_CARD
        ) NOMEG ON A.ID_CARD = NOMEG.ID_CARD
        <where>
            1 = 1
            <if test="patientBean.deptId != null and patientBean.deptId != ''">
                AND A.DEPT_ID = #{patientBean.deptId}
            </if>
            <if test="patientBean.deptList != null and patientBean.deptList.size() > 0">
                AND A.DEPT_ID IN
                <foreach collection="patientBean.deptList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="patientBean.name != null and patientBean.name != ''">
                AND A.NAME LIKE '%' + #{patientBean.name} + '%'
            </if>
            <if test="patientBean.patientId != null and patientBean.patientId != ''">
                AND A.PATIENT_ID = #{patientBean.patientId}
            </if>
            <if test="patientBean.empId != null and patientBean.empId != ''">
                AND A.EMP_ID = #{patientBean.empId}
            </if>
            <if test="patientBean.hospNum != null and patientBean.hospNum != ''">
                AND A.HOSP_NUM like '%' + #{patientBean.hospNum} + '%'
            </if>
            <if test="patientBean.mitypeid != null and patientBean.mitypeid != ''">
                AND A.MITYPEID = #{patientBean.mitypeid}
            </if>
            <if test="patientBean.patitypeid != null and patientBean.patitypeid != ''">
                AND A.PATITYPEID = #{patientBean.patitypeid}
            </if>
            <if test="patientBean.inHosp != null and patientBean.inHosp != ''">
                AND A.IN_HOSP = #{patientBean.inHosp}
            </if>
            <if test="patientBean.sex != null and patientBean.sex != ''">
                AND A.SEX = #{patientBean.sex}
            </if>
            <if test="patientBean.begHospTime != null and patientBean.begHospTime != ''">
                AND A.HOSP_TIME >= #{patientBean.begHospTime}
            </if>
            <if test="patientBean.endHospTime != null and patientBean.endHospTime != ''">
                AND A.HOSP_TIME &lt; #{patientBean.endHospTime}
            </if>
            <if test="patientBean.empId != null and patientBean.empId != ''">
                AND A.EMP_ID = #{patientBean.empId}
            </if>
            <if test="patientBean.idCard != null and patientBean.idCard != ''">
                AND A.ID_CARD LIKE '%' + #{patientBean.idCard} + '%'
            </if>
            <if test="patientBean.liaisonManPhone != null and patientBean.liaisonManPhone != ''">
                AND A.LIAISON_MAN_PHONE LIKE '%' + #{patientBean.liaisonManPhone} + '%'
            </if>
        </where>
    </select>-->


    <select id="queryPatientInfo" parameterType="com.jiubo.sam.bean.PatientBean"
            resultType="com.jiubo.sam.bean.PatientBean">
        select * from PATIENT
        <where>
            <trim prefixOverrides="AND">
                <if test="patientId != null and patientId != ''">
                    AND PATIENT_ID=#{patientId}
                </if>
                <if test="hospNum != null and hospNum != ''">
                    AND HOSP_NUM=#{hospNum}
                </if>
            </trim>
        </where>
    </select>

    <select id="getPatientByIdCard" parameterType="com.jiubo.sam.bean.PatientBean"
            resultType="com.jiubo.sam.bean.PatientBean">
        select * from PATIENT where ID_CARD = #{idCard}
    </select>

    <!--    新收费信息汇总查询-->
    <select id="queryGatherNewPayment" parameterType="com.jiubo.sam.bean.PatientBean"
            resultType="com.jiubo.sam.bean.PatientBean">
        SELECT PAT.ENDDATE,PAT.DATEDIFFRENT,PT.PATITYPENAME,MT.MITYPENAME,DEPT.NAME AS deptName,P.*
        FROM
        (SELECT PM.PATIENT_ID,MIN(PM.ENDTIME) AS ENDDATE,DATEDIFF(DAY,GETDATE(),MIN(PM.ENDTIME)) AS DATEDIFFRENT FROM
        PATIENT P
        LEFT JOIN PAYMENT PM ON PM.PATIENT_ID= P.PATIENT_ID
        WHERE PM.PATIENT_ID IS NOT NULL AND PM.BEGTIME IS NOT NULL
        GROUP BY PM.PATIENT_ID) PAT
        LEFT JOIN PATIENT P ON PAT.PATIENT_ID=P.PATIENT_ID
        LEFT JOIN DEPARTMENT DEPT ON DEPT.DEPT_ID=P.DEPT_ID
        LEFT JOIN PATIENTTYPE PT ON P.PATITYPEID=PT.PATITYPEID
        LEFT JOIN MEDICINSURTYPE MT ON MT.MITYPEID=P.MITYPEID
        <where>
            <if test="hospNum != null and hospNum != ''">
                AND P.HOSP_NUM LIKE '%'+#{hospNum}+'%'
            </if>
            <if test="deptId != null and deptId != ''">
                AND P.DEPT_ID = #{deptId}
            </if>
            <if test="name != null and name != ''">
                AND P.NAME LIKE '%'+#{name}+'%'
            </if>
            <if test="patitypeid != null and patitypeid != ''">
                AND PT.PATITYPEID = #{patitypeid}
            </if>
            <if test="patientId != null and patientId != ''">
                AND P.PATITYPEID = #{patientId}
            </if>
            <if test="mitypeid != null and mitypeid != ''">
                AND MT.MITYPEID = #{mitypeid}
            </if>
        </where>
    </select>
    <!--  根据住院号修改维护医生  -->
    <update id="updateDoctorByHospNum">
        UPDATE PATIENT SET EMP_ID = #{empId}
        WHERE HOSP_NUM = #{hospNum}
    </update>

    <!--精确查询患者-->
    <select id="accurateQuery" parameterType="com.jiubo.sam.bean.PatientBean"
            resultType="com.jiubo.sam.bean.PatientBean">
        SELECT * FROM PATIENT
        <where>
            <if test=" hospNum != null and hospNum != ''">
                HOSP_NUM=#{hospNum}
            </if>
        </where>
    </select>
    <!--模糊查询患者-->
    <select id="fuzzyQuery" parameterType="com.jiubo.sam.bean.PatientBean" resultType="com.jiubo.sam.bean.PatientBean">
        SELECT P.*,DEPT.NAME AS deptName,PM.MONEY AS money
        FROM PATIENT P
        LEFT JOIN DEPARTMENT DEPT ON DEPT.DEPT_ID = P.DEPT_ID
        LEFT JOIN PATINET_MARGIN PM ON PM.HOSP_NUM = P.HOSP_NUM
        <where>
            <if test=" hospNum != null and hospNum != ''">
                P.HOSP_NUM = #{hospNum}
            </if>
        </where>
    </select>

    <select id="getPmc" resultType="com.jiubo.sam.dto.PatientMoneyCount">
        SELECT P.MONEY AS depositBalance,HP.REAL_CROSS AS medical FROM PATINET_MARGIN P
            LEFT JOIN (SELECT ID_CARD,
            SUM( CASE WHEN  CONSUM_TYPE = 1 THEN ISNULL( REAL_CROSS, 0 ) ELSE - 1 * ISNULL( REAL_CROSS, 0 ) END) AS REAL_CROSS
            FROM HOSPITAL_PATIENT GROUP BY ID_CARD) HP ON P.ID_CARD = HP.ID_CARD
            where P.HOSP_NUM = #{hospNum}
    </select>

    <select id="getNoMeTotal" resultType="com.jiubo.sam.dto.NoMeTotal">
        SELECT
	T.PATIENT_ID,
	SUM( T.DAYS ) DAYS,
	MAX( T.UNIT_PRICE ) PRICE,
	SUM( T.TOTAL ) * (-1) TOTAL,
	MAX( T.ENDDATE ) END_TIME
FROM
	(
SELECT
	PA.PATIENT_ID,
	PA.PAYSERVICE_ID,
	PA.BEG_DATE,
	PA.END_DATE,
	P.ENDTIME,
CASE

	WHEN P.PATIENT_ID IS NULL THEN
	DATEDIFF( DAY, PA.BEG_DATE, CASE WHEN PA.END_DATE IS NULL THEN GETDATE ( ) ELSE PA.END_DATE END ) ELSE (
CASE

			WHEN P.ENDTIME > PA.END_DATE THEN
			DATEDIFF( DAY, P.ENDTIME, PA.END_DATE ) ELSE (
			CASE

					WHEN PA.BEG_DATE IS NOT NULL
					AND PA.END_DATE IS NOT NULL
					AND PA.BEG_DATE > P.ENDTIME THEN
						DATEDIFF( DAY, PA.BEG_DATE, PA.END_DATE ) ELSE DATEDIFF( DAY, P.ENDTIME, CASE WHEN PA.END_DATE IS NULL THEN GETDATE ( ) ELSE PA.END_DATE END )
					END
					)
				END
				)
			END DAYS,
	PA.UNIT_PRICE,
CASE

		WHEN P.PATIENT_ID IS NULL THEN
		DATEDIFF( DAY, PA.BEG_DATE, CASE WHEN PA.END_DATE IS NULL THEN GETDATE ( ) ELSE PA.END_DATE END ) ELSE (
		CASE

				WHEN P.ENDTIME > PA.END_DATE THEN DATEDIFF( DAY, P.ENDTIME, PA.END_DATE )
				ELSE (
				CASE

						WHEN PA.BEG_DATE IS NOT NULL
						AND PA.END_DATE IS NOT NULL
						AND PA.BEG_DATE > P.ENDTIME THEN
							DATEDIFF( DAY, PA.BEG_DATE, PA.END_DATE ) ELSE DATEDIFF( DAY, P.ENDTIME, CASE WHEN PA.END_DATE IS NULL THEN GETDATE ( ) ELSE PA.END_DATE END )
						END
						)
					END
					)
				END * PA.UNIT_PRICE TOTAL,
			CASE

					WHEN P.PATIENT_ID IS NULL THEN
				CASE

						WHEN PA.END_DATE IS NULL THEN
						GETDATE ( ) ELSE PA.END_DATE
						END ELSE (
					CASE

							WHEN PA.BEG_DATE IS NOT NULL
							AND PA.END_DATE IS NOT NULL
							AND PA.BEG_DATE > P.ENDTIME THEN
								DATEADD ( dd, DATEDIFF( DAY, PA.END_DATE, PA.BEG_DATE ), GETDATE ( ) ) ELSE (
								CASE

										WHEN P.ENDTIME > ( CASE WHEN PA.END_DATE IS NULL THEN GETDATE ( ) ELSE PA.END_DATE END ) THEN
											P.ENDTIME
										END
										)
									END
									)
								END ENDDATE
	FROM
		PA_PAYSERVICE PA
		LEFT JOIN (
		SELECT
			PAY.PATIENT_ID,
			PAY.PAYMENTTIME,
			PAY.PAYSERVICE_ID,
		CASE

				WHEN ARREARS.PAYMENTTIME > PAY.PAYMENTTIME THEN
				DATEADD ( DD, - 1, ARREARS.BEGTIME ) ELSE PAY.ENDTIME
			END ENDTIME
FROM
	(
	SELECT
		A.*
	FROM
		PAYMENT A,
		( SELECT PATIENT_ID, PAYSERVICE_ID, MAX( PAYMENTTIME ) PAYMENTTIME FROM PAYMENT WHERE ISUSE = 1 AND PAYMENT_STATUS = 0 GROUP BY PATIENT_ID, PAYSERVICE_ID ) B
	WHERE
		A.PATIENT_ID = B.PATIENT_ID
		AND A.PAYMENTTIME = B.PAYMENTTIME
		AND A.PAYSERVICE_ID = B.PAYSERVICE_ID
		AND A.ISUSE = 1
	) PAY
	LEFT JOIN (
	SELECT
		E.*
	FROM
		PAYMENT E,
		( SELECT PATIENT_ID, PAYSERVICE_ID, MAX( PAYMENTTIME ) PAYMENTTIME FROM PAYMENT WHERE PAYMENT_STATUS = 1 AND ISUSE = 1 GROUP BY PATIENT_ID, PAYSERVICE_ID ) F
	WHERE
		E.PATIENT_ID = F.PATIENT_ID
		AND E.PAYMENTTIME = F.PAYMENTTIME
		AND E.PAYSERVICE_ID = F.PAYSERVICE_ID
		AND E.ISUSE = 1
	) ARREARS ON PAY.PATIENT_ID = ARREARS.PATIENT_ID
	AND PAY.PAYSERVICE_ID = ARREARS.PAYSERVICE_ID
	) P ON PA.PATIENT_ID = P.PATIENT_ID
	AND PA.PAYSERVICE_ID = P.PAYSERVICE_ID
	) T
	WHERE T.PATIENT_ID = #{pId}
    GROUP BY
	T.PATIENT_ID
    </select>

 <!--   <select id="getPmc" resultType="com.jiubo.sam.dto.PatientMoneyCount">
        SELECT P.MONEY AS depositBalance,HP.REAL_CROSS AS medical,PA.paCount AS nonMedical FROM PATINET_MARGIN P
            LEFT JOIN (SELECT ID_CARD,
            SUM( CASE WHEN  CONSUM_TYPE = 1 THEN ISNULL( REAL_CROSS, 0 ) ELSE - 1 * ISNULL( REAL_CROSS, 0 ) END) AS REAL_CROSS
            FROM HOSPITAL_PATIENT GROUP BY ID_CARD) HP ON P.ID_CARD = HP.ID_CARD
            LEFT JOIN (
            SELECT
            C.ID_CARD AS ID_CARD, SUM((C.days + 1)*C.UNIT_PRICE) AS paCount
            FROM
                (
            SELECT
                A.HOSP_NUM as HOSP_NUM,
                A.UNIT_PRICE as UNIT_PRICE,
                A.PAYSERVICE_ID as PAYSERVICE_ID,
                A.ID_CARD as ID_CARD,
                A.BEG_DATE,
                A.END_DATE,
            CASE

                WHEN B.PAY_TYPE = 0
                AND A.END_DATE IS NOT NULL THEN
                datediff( DAY, A.BEG_DATE, A.END_DATE )
                WHEN B.PAY_TYPE = 0
                AND A.END_DATE IS NULL THEN
                datediff( DAY, A.BEG_DATE, GETDATE ( ) )
                WHEN B.PAY_TYPE = 1 THEN
                datediff( DAY, A.BEG_DATE, A.END_DATE ) ELSE datediff( DAY, A.BEG_DATE, GETDATE ( ) )
                END AS days
            FROM
                PA_PAYSERVICE A
                LEFT JOIN PAYSERVICE B ON A.PAYSERVICE_ID = B.PAYSERVICE_ID
                where A.CHARGE_FLAG != 1
                ) C
                GROUP BY C.ID_CARD
            ) PA on P.ID_CARD = PA.ID_CARD
            where P.HOSP_NUM = #{hospNum}
    </select>-->
    <!--    添加患者信息-->
    <insert id="addPatient" useGeneratedKeys="true" keyProperty="patientId">
        INSERT INTO PATIENT (HOSP_NUM, NAME, SEX, AGE, HOSP_TIME, IN_HOSP,
        OUT_HOSP, DEPT_ID, RECEIVABLE, UPDATE_TIME, PATITYPEID, MITYPEID,ACCOUNT_ID,EMP_ID,
        ID_CARD,HOSP_BALANCE,LIAISON_MAN,LIAISON_MAN_PHONE,PATIENT_PHONE,UNIT_NAME,
        UNIT_ADDRESS,SOURCE,CREATE_DATE,CREATOR,REVISER,FLAG,IS_NO_FUNDING)
        VALUES (#{hospNum}, #{name}, #{sex}, #{age}, #{hospTime}, #{inHosp},
        #{outHosp}, #{deptId}, #{receivable},#{updateTime}, #{patitypeid}, #{mitypeid},#{accountId},#{empId},
        #{idCard},#{hospBalance},#{liaisonMan},#{liaisonManPhone},#{patientPhone}, #{unitName},
        #{unitAddress},#{source},#{createDate},#{creator},#{reviser},#{flag},#{isNoFunding})
    </insert>


    <!--    插入患者基础信息（有则更新，无则插入）-->
    <insert id="saveOrUpdate">
        <if test="list != null and list.size() > 0">
            <foreach collection="list" item="item">
                UPDATE PATIENT
                SET
                <trim suffixOverrides=",">
                    <if test="item.name != null and item.name != ''">
                        NAME = #{item.name} ,
                    </if>
                    <if test="item.sex != null and item.sex != ''">
                        SEX = #{item.sex} ,
                    </if>
                    <if test="item.age != null and item.age != ''">
                        AGE = #{item.age} ,
                    </if>
                    <if test="item.hospTime != null and item.hospTime != ''">
                        HOSP_TIME = #{item.hospTime} ,
                    </if>
                    <if test="item.inHosp != null and item.inHosp != ''">
                        IN_HOSP = #{item.inHosp} ,
                    </if>
                    <if test="item.outHosp != null and item.outHosp != ''">
                        OUT_HOSP = #{item.outHosp} ,
                    </if>
                    <if test="item.deptId != null and item.deptId != ''">
                        DEPT_ID = #{item.deptId} ,
                    </if>
                    <if test="item.receivable != null and item.receivable != ''">
                        RECEIVABLE = #{item.receivable} ,
                    </if>
                    <if test="item.updateTime != null">
                        UPDATE_TIME = #{item.updateTime} ,
                    </if>
                    <if test="item.patitypeid != null">
                        PATITYPEID = #{item.patitypeid} ,
                    </if>
                    <if test="item.mitypeid != null and item.mitypeid != ''">
                        MITYPEID = #{item.mitypeid} ,
                    </if>
                    <if test="item.accountId != null and item.accountId != ''">
                        ACCOUNT_ID = #{item.accountId},
                    </if>
                    <if test="item.empId != null">
                        EMP_ID = #{item.empId},
                    </if>
                    <if test="item.idCard != null and item.idCard != ''">
                        ID_CARD = #{item.idCard},
                    </if>
                    <if test="item.hospBalance != null">
                        HOSP_BALANCE = #{item.hospBalance},
                    </if>
                    <if test="item.liaisonMan != null and item.liaisonMan != ''">
                        LIAISON_MAN = #{item.liaisonMan},
                    </if>
                    <if test="item.liaisonManPhone != null and item.liaisonManPhone != ''">
                        LIAISON_MAN_PHONE = #{item.liaisonManPhone},
                    </if>
                    <if test="item.patientPhone != null and item.patientPhone != ''">
                        PATIENT_PHONE = #{item.patientPhone},
                    </if>
                    <if test="item.unitName != null and item.unitName != ''">
                        UNIT_NAME = #{item.unitName},
                    </if>
                    <if test="item.unitAddress != null and item.unitAddress != ''">
                        UNIT_ADDRESS = #{item.unitAddress},
                    </if>
                    <if test="item.source != null">
                        SOURCE = #{item.source},
                    </if>
                    <if test="item.reviser != null">
                        REVISER = #{item.reviser},
                    </if>
                    <if test="item.flag != null">
                        FLAG = #{item.flag},
                    </if>
                    <if test="item.isNoFunding != null">
                        IS_NO_FUNDING = #{item.isNoFunding},
                    </if>
                    <if test="item.hospNum != null and item.hospNum != ''">
                        HOSP_NUM = #{item.hospNum},
                    </if>
                    <!--                    <if test="item.deposit != null">-->
                    <!--                        DEPOSIT = #{item.deposit},-->
                    <!--                    </if>-->
                    <!--                    <if test="item.depositBalance != null">-->
                    <!--                        DEPOSIT_BALANCE = #{item.depositBalance},-->
                    <!--                    </if>-->
                </trim>
                WHERE ID_CARD = #{item.idCard}
                IF NOT EXISTS (SELECT * FROM PATIENT WHERE ID_CARD = #{item.idCard})
                INSERT INTO PATIENT (HOSP_NUM, NAME, SEX, AGE, HOSP_TIME, IN_HOSP,OUT_HOSP, DEPT_ID, RECEIVABLE,
                UPDATE_TIME,PATITYPEID,MITYPEID,ACCOUNT_ID,EMP_ID,
                ID_CARD,HOSP_BALANCE,LIAISON_MAN,LIAISON_MAN_PHONE,PATIENT_PHONE,UNIT_NAME,
                UNIT_ADDRESS,SOURCE,CREATE_DATE,CREATOR,REVISER,FLAG,IS_NO_FUNDING)
                VALUES (#{item.hospNum}, #{item.name}, #{item.sex}, #{item.age}, #{item.hospTime}, #{item.inHosp},
                #{item.outHosp},
                #{item.deptId},#{item.receivable},GETDATE(),#{item.patitypeid},#{item.mitypeid},#{item.accountId},#{item.empId},
                #{item.idCard},#{item.hospBalance},#{item.liaisonMan},#{item.liaisonManPhone},#{item.patientPhone},
                #{item.unitName},
                #{item.unitAddress},#{item.source},#{item.createDate},#{item.creator},#{item.reviser},#{item.flag},#{item.isNoFunding});
            </foreach>
        </if>
    </insert>

    <update id="patchPa">
        UPDATE PATIENT
        SET
        <trim suffixOverrides=",">
            <if test="patientName != null and patientName != ''">
                NAME = #{patientName},
            </if>
            <if test="sex!=null">
                SEX = #{sex},
            </if>
            <if test="age!=null">
                AGE = #{age},
            </if>
            <if test="idCard!=null and idCard!=''">
                ID_CARD = #{idCard},
            </if>
            <if test="patientPhone!=null and patientPhone != ''">
                PATIENT_PHONE = #{patientPhone},
            </if>
            <if test="hisWaterNum!=null and hisWaterNum != ''">
                HIS_WATER_NUM = #{hisWaterNum},
            </if>
            <if test="deptId!=null">
                DEPT_ID = #{deptId},
            </if>
            <if test="hospBalance!=null">
                HOSP_BALANCE = #{hospBalance},
            </if>
            UPDATE_TIME = GETDATE()
        </trim>
        WHERE ID_CARD = #{idCard}
    </update>

    <insert id="addPa">
        INSERT INTO PATIENT (HOSP_NUM, NAME, SEX, AGE,
        DEPT_ID,UPDATE_TIME,ID_CARD,HOSP_BALANCE,PATIENT_PHONE
        ,CREATE_DATE,CREATOR,REVISER,FLAG,IS_NO_FUNDING,HIS_WATER_NUM)
        VALUES (#{hospNum}, #{patientName}, #{sex}, #{age},
        #{deptId},GETDATE(),
        #{idCard},#{hospBalance},#{patientPhone},
        GETDATE(),99999,99999,2,2,#{hisWaterNum})
    </insert>

    <update id="updatePatientBatch" parameterType="java.util.List">
        update PATIENT
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="HOSP_NUM =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.hospNum != null and i.hospNum != ''">
                        when ID_CARD=#{i.idCard} then #{i.hospNum}
                    </if>
                </foreach>
            </trim>
            <trim prefix="NAME =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.patientName != null and i.patientName != ''">
                        when ID_CARD=#{i.idCard} then #{i.patientName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="SEX =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.sex!=null">
                        when ID_CARD=#{i.idCard} then #{i.sex}
                    </if>
                </foreach>
            </trim>
            <trim prefix="AGE =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.age!=null">
                        when ID_CARD=#{i.idCard} then #{i.age}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ID_CARD =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.idCard!=null and i.idCard!=''">
                        when ID_CARD=#{i.idCard} then #{i.idCard}
                    </if>
                </foreach>
            </trim>
            <trim prefix="PATIENT_PHONE =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.patientPhone!=null and i.patientPhone != ''">
                        when ID_CARD=#{i.idCard} then #{i.patientPhone}
                    </if>
                </foreach>
            </trim>
            <trim prefix="DEPT_ID =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.deptId!=null">
                        when ID_CARD=#{i.idCard} then #{i.deptId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="HOSP_TIME =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.hospTime!=null">
                        when ID_CARD=#{i.idCard} then #{i.hospTime}
                    </if>
                </foreach>
            </trim>

            <trim prefix="HOSP_BALANCE =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.hospBalance!=null">
                        when ID_CARD=#{i.idCard} then #{i.hospBalance}
                    </if>
                </foreach>
            </trim>
            <trim prefix="UPDATE_TIME =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    when ID_CARD=#{i.idCard} then GETDATE()
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="i" index="index">
            ID_CARD=#{i.idCard}
        </foreach>
    </update>

    <select id="getAllIdCard" resultType="com.jiubo.sam.bean.PatientBean">
        select ID_CARD,HOSP_NUM from PATIENT
    </select>

    <!--    ,DEPOSIT,DEPOSIT_BALANCE-->
    <!--    ,#{item.deposit},#{item.depositBalance}-->

    <!--    <trim prefix="OUT_HOSP =case" suffix="end,">-->
    <!--        <foreach collection="list" item="i" index="index">-->
    <!--            <if test="i.outHosp!=null">-->
    <!--                when ID_CARD=#{i.idCard} then #{i.outHosp}-->
    <!--            </if>-->
    <!--        </foreach>-->
    <!--    </trim>-->
</mapper>
