<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.PaymentDetailsDao">
    <select id="findByCondition" resultType="com.jiubo.sam.bean.PaymentDetailsBean">
        select ME.*
        ,P.ID_CARD AS 'idCard'
        ,P.NAME AS patientName
        ,P.SEX AS SEX
        ,P.AGE AS AGE
        ,DEPT.NAME AS DEPT_NAME
        ,P2.PATITYPENAME
        ,M.MITYPENAME
        ,E.EMP_NAME
        ,P3.MONEY AS marginAmount
        ,CASE WHEN P3.MONEY &lt; 0 THEN 1 ELSE 2 END isArrearage
        from PAYMENT_DETAILS ME
        LEFT JOIN PATIENT P ON P.HOSP_NUM = ME.HOSP_NUM
        LEFT JOIN PATIENTTYPE P2 ON P.PATITYPEID = P2.PATITYPEID
        LEFT JOIN PATINET_MARGIN P3 ON P3.HOSP_NUM = ME.HOSP_NUM
        LEFT JOIN MEDICINSURTYPE M ON M.MITYPEID = P.MITYPEID
        LEFT JOIN DEPARTMENT DEPT ON DEPT.DEPT_ID = ME.DEPT_ID
        LEFT JOIN EMPLOYEE E ON E.ID = ME.EMP_ID
        <where>
            <if test="type != null and type != ''">
                AND ME.TYPE = #{type}
            </if>
            <if test="idCard != null and idCard != ''">
                AND P.ID_CARD like '%' + #{idCard} + '%'
            </if>
            <if test="payment != null and payment != ''">
                AND ME.payment = #{payment}
            </if>
            <if test="serialNumber != null and serialNumber != ''">
                AND ME.serial_number like '%' + #{serialNumber} + '%'
            </if>
            <if test="hospNum != null and hospNum != ''">
                AND ME.HOSP_NUM like '%' + #{hospNum}+ '%'
            </if>
            <if test="patientName != null and patientName != ''">
                AND P.NAME LIKE '%' + #{patientName} + '%'
            </if>
            <if test="deptId != null and deptId != ''">
                AND ME.DEPT_ID = #{deptId}
            </if>
            <if test="deptList != null and deptList.size() > 0">
                AND ME.DEPT_ID IN
                <foreach collection="deptList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="patiTypeId != null and patiTypeId != ''">
                AND P.PATITYPEID = #{patiTypeId}
            </if>
            <if test="miTypeId != null and miTypeId != ''">
                AND P.MITYPEID = #{miTypeId}
            </if>
            <if test="empId != null and empId != ''">
                AND ME.EMP_ID = #{empId}
            </if>
            <if test="isInHospital != null and isInHospital != ''">
                AND ME.IS_IN_HOSPITAL = #{isInHospital}
            </if>
            <if test="isArrearage != null and isArrearage != ''">
                <choose>
                    <when test="isArrearage == 1">
                        AND P3.MONEY &lt; 0
                    </when>
                    <otherwise>AND P3.MONEY &gt;= 0</otherwise>
                </choose>
            </if>
            <if test="begDate != null">
                AND CONVERT(varchar(100), ME.CREATE_DATE, 23) >= CONVERT(varchar(100), #{begDate}, 23)
            </if>
            <if test="endDate != null">
                AND CONVERT(varchar(100), #{endDate}, 23) >= CONVERT(varchar(100), ME.CREATE_DATE, 23)
            </if>
            <if test="begCreateDate != null">
                AND CONVERT(varchar(100), ME.END_DATE, 23) >= CONVERT(varchar(100), #{begCreateDate}, 23)
            </if>
            <if test="endCreateDate != null">
                AND CONVERT(varchar(100), endCreateDate, 23) >= CONVERT(varchar(100), ME.END_DATE, 23)
            </if>
            <if test="hosBegDate != null">
                AND CONVERT(varchar(100), P.HOSP_TIME, 23) >= CONVERT(varchar(100), hosBegDate, 23)
            </if>
            <if test="hosEndDate != null">
                AND CONVERT(varchar(100), #{hosEndDate}, 23) >= CONVERT(varchar(100), P.HOSP_TIME, 23)
            </if>
        </where>
        <choose>
            <when test="type == null or type == ''">
                order by ME.PD_ID ASC
            </when>
            <otherwise>order by ME.CREATE_DATE DESC</otherwise>
        </choose>
    </select>

    <select id="findPaymentDetailByHos" resultType="com.jiubo.sam.bean.PaymentDetailsBean">
        SELECT
        MEG.ID_CARD,
        MEG.MARGIN AS MARGIN_USE,
        MEG.PATIENT AS PATIENT_USE,
        MEG.HOSPITAL AS HOSPITAL_USE,
        P.HOSP_NUM as hospNum,
        P.NAME AS patientName,
        P.SEX AS SEX,
        P.AGE AS AGE,
        P.IN_HOSP AS IN_HOSP,
        P.HOSP_TIME AS CREATE_DATE,
        P2.PATITYPENAME,
        M.MITYPENAME,
        DEPT.NAME AS DEPT_NAME,
        E.EMP_NAME,
        NOMEG.paCount AS noMeUse,
        MEG.MARGIN-MEG.HOSPITAL-MEG.PATIENT- ISNULL(NOMEG.paCount,0) AS MARGIN_AMOUNT,
        CASE
        WHEN MEG.MARGIN-MEG.HOSPITAL-MEG.PATIENT-NOMEG.paCount &lt; 0 THEN
        1 ELSE 2
        END IS_ARREARGE
        FROM
        (
        SELECT
        ME.ID_CARD,
        SUM (
        CASE WHEN ME.MARGIN_TYPE = 1 THEN ISNULL( ME.MARGIN_USE, 0 ) ELSE -1*ISNULL( ME.MARGIN_USE, 0 ) END ) MARGIN,
        SUM (
        CASE WHEN ME.MARGIN_TYPE = 1 THEN ISNULL( ME.HOSPITAL_USE, 0 ) ELSE -1*ISNULL( ME.HOSPITAL_USE, 0 ) END )
        HOSPITAL,
        SUM (
        CASE WHEN ME.MARGIN_TYPE = 1 THEN ISNULL( ME.PATIENT_USE, 0 ) ELSE -1*ISNULL( ME.PATIENT_USE, 0 ) END ) PATIENT
        FROM
        PAYMENT_DETAILS ME
        <where>
            <if test="endDate != null">
                AND ME.CREATE_DATE &lt;= #{endDate}
            </if>
            <if test="begDate != null">
                AND #{begDate} &lt;= ME.CREATE_DATE
            </if>
        </where>
        GROUP BY
        ME.ID_CARD
        ) MEG
        LEFT JOIN PATIENT P ON P.ID_CARD = MEG.ID_CARD
        LEFT JOIN PATIENTTYPE P2 ON P.PATITYPEID = P2.PATITYPEID
        LEFT JOIN (
        SELECT
        C.ID_CARD AS ID_CARD,
        SUM( ( C.days + 1 ) * C.UNIT_PRICE ) AS paCount
        FROM
        (
        SELECT
        A.HOSP_NUM AS HOSP_NUM,
        A.UNIT_PRICE AS UNIT_PRICE,
        A.PAYSERVICE_ID AS PAYSERVICE_ID,
        A.ID_CARD AS ID_CARD,
        A.BEG_DATE,
        A.END_DATE,
        CASE

        WHEN B.PAY_TYPE = 0
        AND A.END_DATE IS NOT NULL THEN
        datediff( DAY, A.BEG_DATE, A.END_DATE )
        WHEN B.PAY_TYPE = 0
        AND A.END_DATE IS NULL THEN
        datediff( DAY, A.BEG_DATE, GETDATE ( ) )
        WHEN B.PAY_TYPE = 1 THEN
        datediff( DAY, A.BEG_DATE, A.END_DATE ) ELSE datediff( DAY, A.BEG_DATE, GETDATE ( ) )
        END AS days
        FROM
        PA_PAYSERVICE A
        LEFT JOIN PAYSERVICE B ON A.PAYSERVICE_ID = B.PAYSERVICE_ID
        <where>
            <if test="endDate != null">
                AND A.CREATE_DATE &lt;= #{endDate}
            </if>
            <if test="begDate != null">
                AND #{begDate} &lt;= A.CREATE_DATE
            </if>
        </where>
        ) C
        GROUP BY
        C.ID_CARD
        ) NOMEG ON MEG.ID_CARD = NOMEG.ID_CARD
        LEFT JOIN MEDICINSURTYPE M ON M.MITYPEID = P.MITYPEID
        LEFT JOIN DEPARTMENT DEPT ON DEPT.DEPT_ID = P.DEPT_ID
        LEFT JOIN EMPLOYEE E ON E.ID = P.EMP_ID
        <where>
            <if test="hospNum != null and hospNum != ''">
                AND P.HOSP_NUM LIKE '%' + #{hospNum} + '%'
            </if>
            <if test="idCard != null and idCard != ''">
                AND MEG.ID_CARD LIKE '%' + #{idCard} + '%'
            </if>
            <if test="patientName != null and patientName != ''">
                AND P.NAME LIKE '%' + #{patientName} + '%'
            </if>
            <if test="deptId != null and deptId != ''">
                AND P.DEPT_ID = #{deptId}
            </if>
            <if test="deptList != null and deptList.size() > 0">
                AND P.DEPT_ID IN
                <foreach collection="deptList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="patiTypeId != null and patiTypeId != ''">
                AND P.PATITYPEID = #{patiTypeId}
            </if>
            <if test="miTypeId != null and miTypeId != ''">
                AND P.MITYPEID = #{miTypeId}
            </if>
            <if test="empId != null and empId != ''">
                AND P.EMP_ID = #{empId}
            </if>
            <if test="isInHospital != null and isInHospital != ''">
                AND P.IN_HOSP = #{isInHospital}
            </if>
            <if test="isArrearage != null and isArrearage != ''">
                <choose>
                    <when test="isArrearage == 1">
                        AND MEG.MARGIN-MEG.HOSPITAL-MEG.PATIENT-NOMEG.paCount &lt; 0
                    </when>
                    <otherwise>AND MEG.MARGIN-MEG.HOSPITAL-MEG.PATIENT-NOMEG.paCount &gt;= 0</otherwise>
                </choose>
            </if>
            <if test="hosBegDate != null">
                AND CONVERT(varchar(100), P.HOSP_TIME, 23) >= CONVERT(varchar(100), #{hosBegDate}, 23)
            </if>
            <if test="hosEndDate != null">
                AND CONVERT(varchar(100), P.HOSP_TIME, 23) &lt;= CONVERT(varchar(100), #{hosEndDate}, 23)
            </if>
        </where>
        order by P.HOSP_TIME DESC
    </select>

    <select id="findPaymentDetailLastByHos" resultType="com.jiubo.sam.bean.PaymentDetailsBean">
        SELECT TOP 1 * FROM PAYMENT_DETAILS WHERE HOSP_NUM = #{hospNum} ORDER BY PD_ID DESC
    </select>

    <select id="getMedicalAmount" resultType="com.jiubo.sam.dto.MedicalAmount">
        SELECT
            ME.HOSPITAL_USE AS inHospitalTotal,
            ME.PATIENT_USE AS outpatientTotal,
            ME.HOSPITAL_USE + ME.PATIENT_USE AS medicalTotal
        FROM
            (
            SELECT
                SUM( CASE WHEN MARGIN_TYPE = 1 THEN ISNULL( HOSPITAL_USE, 0 ) ELSE - 1 * ISNULL( HOSPITAL_USE, 0 ) END ) AS HOSPITAL_USE,
                SUM( CASE WHEN MARGIN_TYPE = 1 THEN ISNULL( PATIENT_USE, 0 ) ELSE - 1 * ISNULL( PATIENT_USE, 0 ) END ) AS PATIENT_USE
            FROM
                PAYMENT_DETAILS
            ) ME
    </select>

    <select id="selectByHospNum" resultType="java.lang.Integer">
        select count(*)
        from PAYMENT_DETAILS where
        CONVERT(varchar(100), pay_date, 23) = #{now}
        and TYPE = #{type}
    </select>
    <select id="getCATable" parameterType="com.jiubo.sam.dto.CACondition" resultType="com.jiubo.sam.dto.CheckAccount">
        SELECT PD.ID_CARD AS samIdCard,PD.serial_number AS samSerialNumberSam,EMP.emp_name AS samOperator,
        PD.serial_number_his AS samSerialNumberHis,PD.pay_date AS samTradeDate,PD.MARGIN_TYPE samPayType,
        CASE
        WHEN PD.MARGIN_TYPE = 1 AND PD.TYPE = 1 THEN PD.HOSPITAL_USE
        WHEN PD.MARGIN_TYPE = 1 AND PD.TYPE = 2 THEN PD.PATIENT_USE
        ELSE 0 END AS samCharge,
        CASE
        WHEN PD.MARGIN_TYPE = 1 THEN '住院'
        WHEN PD.MARGIN_TYPE = 2 THEN '门诊'
        ELSE '-' END AS samChargeType,
        CASE
        WHEN PD.MARGIN_TYPE = 2 AND PD.TYPE = 1 THEN PD.HOSPITAL_USE
        WHEN PD.MARGIN_TYPE = 2 AND PD.TYPE = 2 THEN PD.PATIENT_USE
        ELSE 0 END AS samRefund,
        CASE
        WHEN PD.payment = 1 THEN '现金'
        WHEN PD.payment = 2 THEN '银行卡'
        WHEN PD.payment = 3 THEN '微信'
        ELSE '支付宝' END AS samPayMethod
        FROM PAYMENT_DETAILS PD
        LEFT JOIN employee EMP ON PD.REVISER = EMP.id
        WHERE PD.TYPE IN (1,2)
        <if test="startDate != null">
            AND CONVERT(varchar(100), PD.pay_date, 23) >= CONVERT(varchar(100), #{startDate}, 23)
        </if>
        <if test="endDate != null">
            AND CONVERT(varchar(100), #{endDate}, 23) >= CONVERT(varchar(100), PD.pay_date, 23)
        </if>
        <if test="idCard != null and idCard != ''">
            AND PD.ID_CARD LIKE '%' + #{idCard} + '%'
        </if>
        <if test="serialNumber != null and serialNumber != ''">
            AND PD.serial_number LIKE '%' + #{serialNumber} + '%'
        </if>
        <if test="payMethod != null">
            AND PD.payment = #{payMethod}
        </if>
        <if test="payType != null">
            AND PD.MARGIN_TYPE = #{payType}
        </if>
        ORDER BY PD.pay_date DESC
    </select>
    <select id="findAllTime" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select * from PA_PAYSERVICE where HOSP_NUM = #{hospNum}
    </select>
    <select id="findAllday" resultType="java.lang.String">
        WITH mycte AS
        (
        SELECT CAST(#{begDatesTime} AS DATETIME) DateValue
        UNION ALL
        SELECT  DateValue + 1
        FROM    mycte
        WHERE   #{endDatesTime} >= DateValue + 1
        )
        SELECT CONVERT(varchar(100), A.DateValue, 23) AS text
        FROM    mycte A
        OPTION (MAXRECURSION 0)
    </select>

    <select id="getPdByPId" parameterType="com.jiubo.sam.dto.PdCondition"
            resultType="com.jiubo.sam.bean.PaymentDetailsBean">

        SELECT charge.* from (
        SELECT
        ME.MARGIN_USE AS MARGIN_USE,
        ME.PATIENT_USE AS PATIENT_USE,
        ME.HOSPITAL_USE AS HOSPITAL_USE,
        ME.CURRENT_MARGIN AS CURRENT_MARGIN,
        ME.pay_date AS payDate,
        ME.ID_CARD AS idCard,
        ME.HOSP_NUM AS hospNum,
        ME.IS_IN_HOSPITAL AS isInHospital,
        P.NAME AS patientName,
        DEPT.NAME AS deptName,
        E.EMP_NAME AS empName
        FROM
        PAYMENT_DETAILS ME
        LEFT JOIN PATIENT P ON ME.ID_CARD = P.ID_CARD
        LEFT JOIN DEPARTMENT DEPT ON ME.DEPT_ID = DEPT.DEPT_ID
        LEFT JOIN EMPLOYEE E ON ME.EMP_ID = E.ID
        <where>
            <if test="idCard != null and idCard != ''">
                AND ME.ID_CARD = #{idCard}
            </if>
            <if test="deptId != null">
                AND ME.DEPT_ID = #{deptId}
            </if>
            <if test="startDate != null">
                AND CONVERT(varchar(100), ME.pay_date, 23) >= CONVERT(varchar(100), #{startDate}, 23)
            </if>
            <if test="endDate != null">
                AND CONVERT(varchar(100), #{endDate}, 23) >= CONVERT(varchar(100), ME.pay_date, 23)
            </if>
        </where>
        UNION ALL
        SELECT NULL AS
        MARGIN_USE,
        NULL AS PATIENT_USE,
        NULL HOSPITAL_USE,
        balance AS CURRENT_MARGIN,
        pay_date AS payDate,
        id_card AS idCard,
        hosp_num AS hospNum,
        is_hosp AS isInHospital,
        pa_name AS patientName,
        dept_name AS deptName,
        doctor AS empName
        FROM
        no_medical) charge
        ORDER BY charge.payDate
    </select>
    <select id="getNewestPDBEveryDay" resultType="com.jiubo.sam.bean.PaymentDetailsBean">
        SELECT
                *
            FROM
                PAYMENT_DETAILS S
            WHERE S.ID_CARD = #{idCard} AND
                EXISTS (
            SELECT
                1
            FROM
                (
            SELECT CONVERT
                ( VARCHAR ( 100 ), pay_date, 23 ) pay_date,
                MAX( PD_ID ) PD_ID
            FROM
                PAYMENT_DETAILS
            GROUP BY
                CONVERT ( VARCHAR ( 100 ), pay_date, 23 )
                ) SS
        WHERE
	SS.PD_ID = S.PD_ID
	)
    </select>

    <update id="deleteAllNoMe">
        TRUNCATE TABLE no_medical
    </update>

    <insert id="addNoMeBatch">
        INSERT INTO no_medical (id_card,pay_date,
        no_medical_money,hosp_num,pa_name,dept_name,is_hosp,
        doctor,balance,dept_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.idCard},#{item.payDate},#{item.noMedicalMoney},#{item.hospNum},#{item.paName},#{item.deptName},#{item.isHosp},
            #{item.doctor},#{item.balance},#{item.deptId}
            )
        </foreach>
    </insert>
</mapper>
