<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.PaymentDao">

    <insert id="addPayment" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO PAYMENT (PATIENT_ID,PAYSERVICE_ID,RECEIVABLE, ACTUALPAYMENT, BEGTIME, ENDTIME, PAYMENTTIME, UPDATETIME,ISUSE)
        VALUES
            (#{patientId},#{payserviceId},#{receivable}, #{actualpayment}, #{begtime}, #{endtime}, #{paymenttime}, #{updatetime},
            <if test="isuse=='true'">
                1
            </if>
            <if test="isuse=='false'">
                0
            </if>
            )
    </insert>

    <!--    收费信息汇总查询-->
    <select id="queryGatherPayment" resultType="java.util.Map">
        ${sql}
    </select>
</mapper>
