<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.PaymentDetailsDao">

    <select id="findByCondition" resultType="com.jiubo.sam.bean.PaymentDetailsBean">
        select ME.*
        ,P.NAME AS patientName
        ,P.SEX AS SEX
        ,P.AGE AS AGE
        ,DEPT.NAME AS DEPT_NAME
        ,P2.PATITYPENAME
        ,M.MITYPENAME
        ,E.EMP_NAME
        ,P3.MONEY AS marginAmount
        ,CASE WHEN P3.MONEY &lt; 0 THEN 1 ELSE 2 END isArrearage
        from PAYMENT_DETAILS ME
        LEFT JOIN PATIENT P ON P.HOSP_NUM = ME.HOSP_NUM
        LEFT JOIN PATIENTTYPE P2 ON P.PATITYPEID = P2.PATITYPEID
        LEFT JOIN PATINET_MARGIN P3 ON P3.HOSP_NUM = ME.HOSP_NUM
        LEFT JOIN MEDICINSURTYPE M ON M.MITYPEID = P.MITYPEID
        LEFT JOIN DEPARTMENT DEPT ON DEPT.DEPT_ID = ME.DEPT_ID
        LEFT JOIN EMPLOYEE E ON E.ID = ME.EMP_ID
        LEFT JOIN PAYMENT F ON F.PATIENT_ID = P.PATIENT_ID
        <where>
            <if test="type != null and type != ''">
                AND ME.TYPE = #{type}
            </if>
            <if test="hospNum != null and hospNum != ''">
                AND ME.HOSP_NUM = #{hospNum}
            </if>
            <if test="patientName != null and patientName != ''">
                AND P.NAME LIKE '%' + #{patientName} + '%'
            </if>
            <if test="deptId != null and deptId != ''">
                AND ME.DEPT_ID = #{deptId}
            </if>
            <if test="deptList != null and deptList.size() > 0">
                AND ME.DEPT_ID IN
                <foreach collection="deptList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="patiTypeId != null and patiTypeId != ''">
                AND P.PATITYPEID = #{patiTypeId}
            </if>
            <if test="miTypeId != null and miTypeId != ''">
                AND P.MITYPEID = #{miTypeId}
            </if>
            <if test="empId != null and empId != ''">
                AND ME.EMP_ID = #{empId}
            </if>
            <if test="isInHospital != null and isInHospital != ''">
                AND ME.IS_IN_HOSPITAL = #{isInHospital}
            </if>
            <if test="isArrearage != null and isArrearage != ''">
                <choose>
                    <when test="isArrearage == 1">
                        AND P3.MONEY &lt; 0
                    </when>
                    <otherwise>AND P3.MONEY &gt;= 0</otherwise>
                </choose>
            </if>
            <if test="begCreateDate != null">
                AND ME.CREATE_DATE >= #{begCreateDate}
            </if>
            <if test="endCreateDate != null">
                AND ME.CREATE_DATE &lt;= #{endCreateDate}
            </if>
            <if test="begDate != null">
                AND F.PAYMENTTIME >= #{begDate}
            </if>
            <if test="endDate != null">
                AND #{endDate} >= F.PAYMENTTIME
            </if>
            <if test="hosBegDate != null">
                AND P.HOSP_TIME >= #{hosBegDate}
            </if>
            <if test="hosEndDate != null">
                AND P.HOSP_TIME &lt;= #{hosEndDate}
            </if>
        </where>
        <choose>
            <when test="type == null or type == ''">
                order by ME.PD_ID ASC
            </when>
            <otherwise>order by ME.CREATE_DATE DESC</otherwise>
        </choose>
    </select>

    <select id="findPaymentDetailByHos" resultType="com.jiubo.sam.bean.PaymentDetailsBean">
        SELECT A.PD_ID AS pdId,A.HOSP_NUM AS hospNum,C.HOSP_TIME AS begDate,C.NAME AS patientName,
        C.SEX AS sex,D.NAME AS deptName,E.MITYPENAME AS miTypeName,A.MARGIN_USE AS marginUse,A.PATIENT_USE AS patientUse,HOSPITAL_USE AS hospitalUse
        FROM PAYMENT_DETAILS A
        LEFT JOIN HOSPITAL_PATIENT B on A.HOSP_NUM = B.HOSP_NUM
        LEFT JOIN PATIENT C on C.HOSP_NUM = A.HOSP_NUM
        LEFT JOIN DEPARTMENT D ON D.DEPT_ID = C.DEPT_ID
        LEFT JOIN MEDICINSURTYPE E ON E.MITYPEID = C.MITYPEID
        LEFT JOIN PATINET_MARGIN F ON F.HOSP_NUM = A.HOSP_NUM
        LEFT JOIN PAYMENT G ON G.PATIENT_ID = C.PATIENT_ID
        where 1=1
            <if test="hospNum != null and hospNum != ''">
                AND A.HOSP_NUM = #{hospNum}
            </if>
            <if test="patientName != null and patientName != ''">
                AND C.NAME LIKE '%' + #{patientName} + '%'
            </if>
            <if test="deptId != null and deptId != ''">
                AND D.DEPT_ID = #{deptId}
            </if>
            <if test="patiTypeId != null and patiTypeId != ''">
                AND C.PATITYPEID = #{patiTypeId}
            </if>
            <if test="miTypeId != null and miTypeId != ''">
                AND C.MITYPEID = #{miTypeId}
            </if>
            <if test="empId != null and empId != ''">
                AND A.EMP_ID = #{empId}
            </if>
            <if test="isInHospital != null and isInHospital != ''">
                AND B.IN_HOSP = #{isInHospital}
            </if>
            <if test="isArrearage != null and isArrearage != ''">
                <choose>
                    <when test="isArrearage == 1">
                        AND F.MONEY &lt; 0
                    </when>
                    <otherwise>AND F.MONEY &gt;= 0</otherwise>
                </choose>
            </if>
            <if test="hosBegDate != null">
                AND CONVERT(varchar(100), C.HOSP_TIME, 23) >= CONVERT(varchar(100), #{hosBegDate}, 23)
            </if>
            <if test="hosEndDate != null">
                AND CONVERT(varchar(100), C.HOSP_TIME, 23) &lt;= CONVERT(varchar(100), #{hosEndDate}, 23)
            </if>
            <if test="begCreateDate != null">
                AND CONVERT(varchar(100), G.PAYMENTTIME, 23) >= CONVERT(varchar(100), #{begCreateDate}, 23)
            </if>
            <if test="endCreateDate != null">
                AND CONVERT(varchar(100), G.PAYMENTTIME, 23) &lt;= CONVERT(varchar(100), #{endCreateDate}, 23)
            </if>
    </select>

</mapper>
