<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.PositionDao">
    <select id="getPosByCondition" resultType="com.jiubo.sam.bean.PositionBean">
        select * from position where 1=1
        <if test="positionBean.flag != null and positionBean.flag != ''">
           and flag = #{positionBean.flag}
        </if>
    </select>
</mapper>
