<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.ProjectCostManageDao">

    <select id="queryProjectList" parameterType="com.jiubo.sam.bean.ProjectCostManageBean"
            resultType="com.jiubo.sam.bean.ProjectCostManageBean">
        SELECT
        C.PAYMENT_ID,C.PATIENT_ID,T.HOSP_NUM,T.NAME,D.NAME DEPT_NAME ,
        T.HOSP_TIME,C.BEGTIME,E.NAME PROJECT_NAME,C.PAYSERVICE_ID ,C.PRICE ,C.PAYMENTTIME
        FROM PATIENT T
        JOIN ( SELECT A.* FROM PAYMENT A
        JOIN
        (SELECT PATIENT_ID,PAYSERVICE_ID,MAX(PAYMENTTIME) PAYMENTTIME
        FROM PAYMENT
        GROUP BY PATIENT_ID,PAYSERVICE_ID
        ) P
        ON P.PATIENT_ID = A.PATIENT_ID AND P.PAYSERVICE_ID = A.PAYSERVICE_ID AND P.PAYMENTTIME = A.PAYMENTTIME
        ) C
        ON T.PATIENT_ID = C.PATIENT_ID
        JOIN  PAYSERVICE E ON C.PAYSERVICE_ID = E.PAYSERVICE_ID
        JOIN  DEPARTMENT D ON T.DEPT_ID = D.DEPT_ID
        ORDER BY C.PATIENT_ID
    </select>

    <update id="updateProjectBilling" >
        UPDATE PAYMENT SET PRICE = #{price},BEGTIME = #{begTime}
        where PAYMENT_ID = #{paymentId} and PATIENT_ID = #{patientId} and PAYMENTTIME = #{paymentTime} and PAYSERVICE_ID = #{payserviceId}
    </update>
</mapper>
