<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.ProjectCostManageDao">
    <select id="queryProjectList"
            resultType="com.jiubo.sam.bean.ProjectCostManageBean">
        SELECT
        S.*,S.DEPT_ID AS 'deptId',
        P.HOSP_TIME,
        P.NAME,
        C.NAME PROJECT_NAME,
        T.NAME DEPT_NAME,
        P.IN_HOSP,
        C.PAY_TYPE,
        EE.emp_name AS 'empName',
        SA.ACCOUNT
        FROM
        PA_PAYSERVICE S
        LEFT JOIN PATIENT P ON S.PATIENT_ID = P.PATIENT_ID
        LEFT JOIN PAYSERVICE C ON S.PAYSERVICE_ID = C.PAYSERVICE_ID
        LEFT JOIN DEPARTMENT T ON S.DEPT_ID = T.DEPT_ID
        LEFT JOIN sys_account SA ON S.REVISER = SA.SA_ID
        LEFT JOIN employee EE ON EE.id = S.REVISER
        WHERE 1=1

        <if test="projectCostManageBean.begHospTime !=null">
            and CONVERT(varchar(100), S.UPDATE_DATE, 23) >= CONVERT(varchar(100), #{projectCostManageBean.begHospTime}, 23)
        </if>
        <if test="projectCostManageBean.endHospTime != null">
            and CONVERT(varchar(100), #{projectCostManageBean.endHospTime}, 23) >= CONVERT(varchar(100), S.UPDATE_DATE, 23)
        </if>

        <if test="projectCostManageBean.dateType == 1">
            <if test="projectCostManageBean.begBillingTime != null">
                and #{projectCostManageBean.begBillingTime} = S.BEG_DATE
            </if>
            <if test="projectCostManageBean.endBillingTime != null">
                and  S.END_DATE = #{projectCostManageBean.endBillingTime}
            </if>
        </if>
        <if test="projectCostManageBean.dateType == 2">
            <if test="projectCostManageBean.begBillingTime != null">
                and S.BEG_DATE >=  #{projectCostManageBean.begBillingTime}
            </if>
            <if test="projectCostManageBean.endBillingTime != null">
                and #{projectCostManageBean.endBillingTime} >=  S.END_DATE
            </if>
        </if>
        <if test="projectCostManageBean.hospNum != null and projectCostManageBean.hospNum != ''">
            and S.HOSP_NUM like '%'  +   #{projectCostManageBean.hospNum}   +  '%'
        </if>
        <if test="projectCostManageBean.idCard != null and projectCostManageBean.idCard != ''">
            and S.ID_CARD like '%'  +  #{projectCostManageBean.idCard}  +  '%'
        </if>

        <if test="projectCostManageBean.name != null and projectCostManageBean.name != ''">
            and p.name = #{projectCostManageBean.name}
        </if>

        <if test="projectCostManageBean.isUse != null">
            and S.IS_USE = #{projectCostManageBean.isUse}
        </if>

        <if test="projectCostManageBean.inHosp != null">
            and P.IN_HOSP = #{projectCostManageBean.inHosp}
        </if>

        <if test="projectCostManageBean.payType != null">
            and C.PAY_TYPE = #{projectCostManageBean.payType}
        </if>

        <if test="projectCostManageBean.proIdList != null and projectCostManageBean.proIdList.size() > 0">
            and S.PAYSERVICE_ID in
            <foreach collection="projectCostManageBean.proIdList" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>

        <if test="projectCostManageBean.deptId != null and projectCostManageBean.deptId != '' ">
            and S.DEPT_ID = #{projectCostManageBean.deptId}
        </if>
    </select>
    <select id="getToRemovePro" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select A.* from PA_PAYSERVICE A LEFT JOIN PAYSERVICE B ON A.PAYSERVICE_ID = B.PAYSERVICE_ID
        where A.IS_USE = 1 and B.PAY_TYPE = 0 and A.PATIENT_ID = #{pId}
        union all
        select S.* from PA_PAYSERVICE S LEFT JOIN PAYSERVICE C ON S.PAYSERVICE_ID = C.PAYSERVICE_ID
            where S.IS_USE = 3
            and C.PAY_TYPE = 1
            and S.PATIENT_ID = #{pId}
            and CONVERT(varchar(100), S.END_DATE, 23) >=
                CONVERT(varchar(100),GETDATE(), 23)
            and CONVERT(varchar(100),GETDATE(), 23) >=
                CONVERT(varchar(100),S.BEG_DATE, 23)
    </select>

    <select id="getAllPayService" resultType="com.jiubo.sam.bean.PayserviceBean">
        select * from PAYSERVICE
         where ISUSE = 1
    </select>
    <select id="getNextCloseDate" resultType="com.jiubo.sam.bean.PaPayserviceBean">
        select top 1 * from PA_PAYSERVICE where PATIENT_ID = #{patientId} and PAYSERVICE_ID = #{payServiceId} and IS_USE = 0 order by PP_ID DESC
    </select>
    <select id="getOpenPro" resultType="com.jiubo.sam.dto.OpenPro">
        SELECT A.PAYSERVICE_ID AS proId,A.BEG_DATE AS startDate,A.PP_ID AS id,
        B.NAME AS proName,B.PAY_TYPE AS payType,A.UNIT_PRICE AS unitPrice
        FROM PA_PAYSERVICE A
         LEFT JOIN PAYSERVICE B ON A.PAYSERVICE_ID = B.PAYSERVICE_ID
         where A.PATIENT_ID = #{pId} and A.IS_USE = 1 and B.PAY_TYPE = 0
    </select>

    <update id="updateProjectBilling">

                UPDATE PA_PAYSERVICE SET UNIT_PRICE = #{unitPrice},BEG_DATE = #{begDate}
                where HOSP_NUM = #{hospNum}  and PATIENT_ID = #{patientId} and PAYSERVICE_ID = #{payserviceId} and is_use = '1'

    </update>


</mapper>


<!--EXISTS-->
<!--(-->
<!--SELECT-->
<!--1-->
<!--FROM-->
<!--( SELECT HOSP_NUM, PAYSERVICE_ID, MAX ( CREATE_DATE ) CREATE_DATE FROM PA_PAYSERVICE GROUP BY HOSP_NUM,-->
<!--PAYSERVICE_ID ) SS-->
<!--WHERE-->
<!--SS.CREATE_DATE = S.CREATE_DATE ) and S.IS_USE = 1-->


<!--        <if test="projectCostManageBean.begBillingTime != null and projectCostManageBean.begBillingTime !='' ">-->
<!--            and S.BEG_DATE  >= #{projectCostManageBean.begBillingTime}-->
<!--        </if>-->
<!--        <if test="projectCostManageBean.endBillingTime != null and projectCostManageBean.endBillingTime != '' ">-->
<!--            and S.BEG_DATE  &lt; #{projectCostManageBean.endBillingTime}-->
<!--        </if>-->