<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.sam.dao.ToHisDao">

    <!--精确查询患者-->
    <select id="accurateQuery" parameterType="com.jiubo.sam.bean.PatientBean"
            resultType="com.jiubo.sam.bean.PatientBean">
        SELECT * FROM PATIENT
        <where>
            <if test=" idCard != null and idCard != ''">
                ID_CARD=#{idCard}
            </if>
        </where>
    </select>

    <!--    添加患者信息-->
    <insert id="addHisPatient" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PATIENT (HOSP_NUM, NAME, SEX, AGE,
        DEPT_ID,MITYPEID,ID_CARD,SOURCE,CREATE_DATE,CREATOR,FLAG,DEPOSIT,DEPOSIT_BALANCE)
        VALUES (#{hospNum}, #{name}, #{sex}, #{age},
         #{deptId}, #{mitypeid},#{identityCard},1,GETDATE(),#{creator},2,0,0)
    </insert>

<!--    HOSP_TIME, IN_HOSP,OUT_HOSP, RECEIVABLE, UPDATE_TIME, PATITYPEID,ACCOUNT_ID,EMP_ID,-->
<!--    HOSP_BALANCE,LIAISON_MAN,LIAISON_MAN_PHONE,PATIENT_PHONE,UNIT_NAME,UNIT_ADDRESS,REVISER,-->
<!--    #{hospTime}, #{inHosp},#{outHosp}, #{receivable},#{updateTime}, #{patitypeid},#{hospBalance},#{liaisonMan},#{liaisonManPhone},#{patientPhone}, #{unitName},-->
<!--    #{unitAddress},#{accountId},#{empId},#{reviser},-->
</mapper>
